﻿
@{
    ViewBag.Title = "Checkclick Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{}

<section class="wishlist-tabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#offers-tab" data-toggle="tab">OFFERS</a></li>
                    <li><a href="#recommended-tab" data-toggle="tab">RECOMMENDED</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane pt-5 active" id="offers-tab">
                        <div class="row">
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-1.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 1</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-2.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 2</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-3.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 3</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-4.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 4</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-5.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 5</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storecategories-6.png" width="100%">
                                    <div class="carousel-caption">
                                        <h4>MAIN CATEGORY 6</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane pt-5" id="recommended-tab">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-1.png" width="100%">
                                    <div class="caption">
                                        <h4>Flower Bouquet</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-2.png" width="100%">
                                    <div class="caption">
                                        <h4>Fresh Seeds</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-3.png" width="100%">
                                    <div class="caption">
                                        <h4>Rare Plants</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-4.png" width="100%">
                                    <div class="caption">
                                        <h4>Cactus Plant</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-5.png" width="100%">
                                    <div class="caption">
                                        <h4>Flower Bouquet</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-6.png" width="100%">
                                    <div class="caption">
                                        <h4>Fresh Seeds</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-7.png" width="100%">
                                    <div class="caption">
                                        <h4>Rare Plants</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/images/storesubcategories-8.png" width="100%">
                                    <div class="caption">
                                        <h4>Cactus Plant</h4>
                                        <h5><span><i class="far fa-star"></i> 4.3</span> (124 Reviews) - 150 Visited </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts{}
