﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{

}
<section>
    <div class="container-fluid main-container">
        <div id="carousel-example-generic" class="carousel slide">
            <ol class="carousel-indicators hidden">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active deepskyblue">
                    <div class="carousel-caption carousel-caption1">
                        <h1>2019</h1>
                    </div>
                    <div class="carousel-caption">
                        <h2 class="bold">NEW STYLE</h2>
                        <h3 class="bold">Boots Collection for Men</h3>
                    </div>
                </div>

                <div class="item skyblue">
                    <div class="carousel-caption carousel-caption1">
                        <h1>2019</h1>
                    </div>
                    <div class="carousel-caption">
                        <h2 class="bold">NEW STYLE</h2>
                        <h3 class="bold">Boots Collection for Men</h3>
                    </div>
                </div>

                <div class="item darkerskyblue">
                    <div class="carousel-caption carousel-caption1">
                        <h1>2019</h1>
                    </div>
                    <div class="carousel-caption">
                        <h2 class="bold">NEW STYLE</h2>
                        <h3 class="bold">Boots Collection for Men</h3>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="product-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-head text-center">
                <h4>MAKE THE HARD WAY</h4>
                <h2 class="bold">PRODUCT OFFERS</h2>
                <div class="separator"><span><img src="~/web-assets/ar/images/heading-logo.png"></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 fwidth nopadding">
                <div class="store-offers-slide slider height-bg">
                    <div class="slide">
                        <img src="~/web-assets/ar/images/Product-offer1.jpg">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/Product-offer2.jpg">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/Product-offer3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer4.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer5.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer6.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer5.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer6.png">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer4.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="clearfix popular-sec text-center height-md">
                            <h3>Popular Products</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text…</p>
                            <a href="" class="viewall-btn">View All</a><br><br>
                        </div>
                    </div>
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer6.png">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer4.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/Product-offer5.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-head text-center">
                <h4>MAKE THE HARD WAY</h4>
                <h2 class="bold">SERVICE OFFERS</h2>
                <div class="separator"><span><img src="~/web-assets/ar/images/heading-logo.png"></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 fwidth nopadding">
                <div class="store-offers-slide slider height-bg">
                    <div class="slide">
                        <img src="~/web-assets/ar/images/service-offer1.png">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/Product-offer2.jpg">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/Product-offer3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer2.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer3.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer3.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer4.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="clearfix popular-sec text-center height-md">
                            <h3>Popular Products</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text…</p>
                            <a href="" class="viewall-btn">View All</a><br><br>
                        </div>
                    </div>
                    <div class="col-xs-6 fwidth nopadding">
                        <div class="store-offers-slide slider height-sm">
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer4.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer2.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/web-assets/ar/images/service-offer3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="bold">Connect to CheckClick</h3>
                <h1 class="bold">Join Our Newsletter</h1>
                <p>Hey you, sign up it only takes a second to be the first to find out about our latest news and promotions…</p>
                <form action="#" method="POST">
                    <input type="text" name="" placeholder="Your Email Address"> <button type="button" class="bold" value="SIGN UP">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="download-app">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/web-assets/ar/images/download-app.png" width="100%">
            </div>
            <div class="col-md-7">
                <div class="app-download">
                    <h1 class="bold">Download Our Mobile App</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                    <a href="#" class="btn-appstore"><i class="fab fa-apple"></i><span>Available <small>On App Store</small></span></a>
                    <a href="#" class="btn-appstore btn-appstore1"><i class="fab fa-android"></i><span>Available <small>On Play Store</small></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="col-md-9">
                <section class="customer-logos slider">
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                </section>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <!-- <script src="assets/js/fade-animation.js"></script> -->
    <script src="~/web-assets/ar/js/slick.js"></script>
    <script type="text/javascript">
        // =========== Slider ===============
        (function ($) {
            var $myCarousel = $('#carousel-example-generic'),
                $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
            $myCarousel.carousel({
                rtl: true,
                interval: 3000,
                pause: "null"

            });
        })(jQuery);

        // =========== Logo Slider ===============
        $(document).ready(function () {
            $('.customer-logos').slick({
                rtl: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1367,
                    settings: {
                        slidesToShow: 5
                    }
                }, {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });

        // =========== Products & Services Slider ===============
        $(document).ready(function () {
            $(".store-offers-slide").slick({
                rtl: true,
                autoplay: true,
                autoplaySpeed: 2500,
                speed: 2000,
                fade: true,
                arrows: false,
                dots: false,
                pauseOnHover: false,               
            });
        });
    </script>
}

