﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{

}

<section class="myorders-banner text-center">
    <h2><strong>WISHLIST</strong></h2>
    <div class="text-center">
        <P>65 STORES</P>
    </div>
</section>

<section class="wishlist-tabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#store-tab" data-toggle="tab">STORES</a></li>
                    <li><a href="#items-tab" data-toggle="tab">ITEMS</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="store-tab">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="store mb-3">
                                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h4><a href="#">Rose Mary’s organics</a></h4>
                                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                                        </div>
                                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                                            <small>1.2 ml</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-9 col-xs-7">
                                            <h6>Minimum Order</h6>
                                            <h6>Delivery Time</h6>
                                            <h6>Payment Options</h6>
                                        </div>
                                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                                            <h6>AED 00</h6>
                                            <h6>1-2 Days</h6>
                                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="pagination">
                                    <!-- <a href="#">&lt;</a> -->
                                    <a href="#" class="active">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane wishlist-items" id="items-tab">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/homegrown.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Homegrown</h4>
                                        <h5>Yellow Tulips</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/designersaree.png" width="100%">
                                    <div class="carousel-caption">
                                        <img src="~/web-assets/ar/images/offer-tag-rtl.png">
                                    </div>
                                    <div class="carousel-caption">
                                        <strong>90% OFF</strong>
                                    </div>
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Designer Saree</h4>
                                        <h5>Maroon</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/chocolates.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Chocolates</h4>
                                        <h5>Dark</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/homegrown1.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Homegrown</h4>
                                        <h5>Yellow Tulips</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/homegrown.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Homegrown</h4>
                                        <h5>Yellow Tulips</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/designersaree.png" width="100%">
                                    <div class="carousel-caption">
                                        <strong>90% OFF</strong>
                                    </div>
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Designer Saree</h4>
                                        <h5>Maroon</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/chocolates.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Chocolates</h4>
                                        <h5>Dark</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail mt-4">
                                    <img src="~/web-assets/ar/images/homegrown1.png" width="100%">
                                    <div class="product-list-cart">
                                        <a href="#"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="caption">
                                        <h5 class="pull-right red-color">SAR 235.50</h5>
                                        <h4>Homegrown</h4>
                                        <h5>Yellow Tulips</h5>
                                    </div>
                                    <div class="row nomargin mt-5">
                                        <div class="col-sm-6 col-xs-6 pt-2 pb-2 bg-grey">
                                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                            <input type="button" value="+" class="btn btn-default adds" />
                                        </div>
                                        <div class="col-sm-6 col-xs-6 nopadding">
                                            <button type="button" class="btn">Move to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 text-center">
                                <div class="pagination">
                                    <!-- <a href="#">&lt;</a> -->
                                    <a href="#" class="active">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $('.adds').click(function add() {
	var _qty = $(this).parent().children(".noOfQty");

    var $rooms = $(_qty);
    var a = $rooms.val();

    a++;
    $(".subs").prop("disabled", !a);
    $rooms.val(a);
});
$(".subs").prop("disabled", !$(".noOfQty").val());

$('.subs').click(function subst() {

	var _qty = $(this).parent().children(".noOfQty");

    var $rooms = $(_qty);
    var b = $rooms.val();
    if (b >= 1) {
        b--;
        $rooms.val(b);
    }
    else {
        $(".subs").prop("disabled", true);
    }
});
    </script>
}

