﻿
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Role Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>

            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/RoleCreation/RoleList">Role Management</a>
                <i class="fa fa-circle"></i>
            </li>

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-key "></i>
                            <span class="caption-subject primary-txt">Create Role</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <form class="form-horizontal" action="#" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body select-width-100">

                                    <div class="tab-content">
                                        @*<div class="tab-pane active" id="tab1">*@
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-horizontal">

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">
                                                            Role Name
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" name="txtFirstName" />
                                                        </div>
                                                    </div><!-- end form-group-->
                                                  
                                                </div><!-- end form-horizontal -->
                                            </div><!-- end col-sm-12 -->

                                        </div><!-- end row-->
                                        @*</div>*@<!-- UserInfo -->

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-sm-12 text-center">

                                        <a href="javascript:;" class="small-button button-submit">
                                            Submit
                                            <i class="fa fa-check"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>



@section Scripts{
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script src="~/assets1/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>

}

