﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <link rel="icon" href="~/web-assets/images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
    <link rel="stylesheet" href="~/web-assets/css/bootstrap.min.css">
    <link href="~/web-assets/css/bootstrap-select.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" type="text/css" href="~/web-assets/css/style.css">
</head>
<body>
    <div class="overlay"></div>
    <header class="sub-categories">
        <section class="sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 left">
                        <ul>
                            <a href=""><i class="fas fa-home"></i></a>
                            <a href=""><i class="fas fa-users"></i></a>
                            <a href="#" class="hidden-lg hidden-md hidden-sm"><i class="far fa-heart"></i></a>
                            <a href="#" class="hidden-lg hidden-md hidden-sm" onclick="openNav()"><i class="fas fa-shopping-cart"></i><sup class="badge badge-default"> 4 </sup></a>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <a href="#search" class="search hidden-lg hidden-md hidden-sm"><img src="~/web-assets/images/search.png" width="18px;"></a>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="~/web-assets/images/user.png" width="24"> <span class="hidden-xs">My Account</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Coupon Voucher</a></li>
                            <li><a href="#">Language</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section class="store-sub-categories-banner main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm">
                                <img src="~/web-assets/images/Logo.png" width="64px" alt="Dispute Bills">
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse navbar-left">
                            <ul class="nav navbar-nav">
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">DEALS</a></li>
                            </ul>
                        </div>
                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <li>
                                <a href="#search" class="search">
                                    <img src="~/web-assets/images/search-w.png" width="18px;">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="openNav()">
                                    <i class="fas fa-shopping-cart"></i>
                                    <sup class="badge badge-default"> 4 </sup>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hidden-xs">
                                    0 / <i class="fas fa-pound-sign"></i> 0.00
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="store-img"><img src="~/web-assets/images/store-img.png" width="112px;"></div>
    </section>

    <!-- ==================  body  ====================-->
    @RenderBody()


    <!-- ================== footer ======================== -->
    <footer class="store-categories">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <img src="~/web-assets/images/store-img.png" width="100%">
                        </div>
                        <div class="col-sm-9  col-xs-9"><h3>Rose Mary’s Organics</h3></div>
                    </div>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="#" class="text-primary">Read More</a> </p>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 fwidth">
                            <h4>INFORMATION</h4>
                            <hr width="20%">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Our Locations</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 fwidth">
                            <h4>GET IN TOUCH</h4>
                            <hr width="20%">
                            <ul>
                                <li><a href="#"><i class="fas fa-phone-volume"></i> +12(345) 678 901 </a> </li>
                            </ul>
                            <div class="social-icons">
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-google-plus-g"></i></a>
                                <a href=""><i class="fas fa-envelope"></i></a>
                                <a href=""><i class="fab fa-pinterest-p"></i></a>
                            </div>
                            <img src="~/web-assets/images/storecategories-bitmap.png" width="100">
                        </div>
                        <div class="col-md-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.1196972111384!2d55.1541070150075!3d25.097809183942523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b4164e9f477%3A0x873c65b1c9eb0f7e!2sConcord+Tower+-+Dubai+-+United+Arab+Emirates!5e0!3m2!1sen!2sin!4v1544426109136" width="100%" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="search">
        <span class="close">X</span>
        <form id="searchform" action="#" method="">
            <input value="" name="q" type="search" placeholder="type to search" />
        </form>
    </div>

    <div id="sideNavUserGuide" class="side-nav-ug">
        <div class="user-guide-header">
            <h4>SHOPPING CART</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                Close
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="cart-list">
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 nopadding">
                        <img src="~/web-assets/images/productdetails-11.jpg" width="100%">
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <span class="pull-right" aria-hidden="true">x</span>
                        <h5>Cleaning with Tools</h5>
                        <small>20 Pics</small><br>
                        <h5 class="pull-left">SAR 235.50</h5>
                        <div class="pull-right">
                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" name="noOfRoom" />
                            <input type="button" value="+" class="btn btn-default adds" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 nopadding">
                        <img src="~/web-assets/images/productdetails-11.jpg" width="100%">
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <span class="pull-right" aria-hidden="true">x</span>
                        <h5>Cleaning with Tools</h5>
                        <small>20 Pics</small><br>
                        <h5 class="pull-left">SAR 235.50</h5>
                        <div class="pull-right">
                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" name="noOfRoom" />
                            <input type="button" value="+" class="btn btn-default adds" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h4>SUB TOTAL</h4>
                    </div>
                    <div class="col-sm-6 col-xs-6 text-right">
                        <h4 class="text-danger">SAR 764.00</h4>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <button type="button" name="" class="btn btn-primary form-control" value="VIEW CART">VIEW CART</button>
                    <button type="button" name="" class="btn btn-danger form-control" value="CHECK OUT">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================ scripts ============================= -->
    <script src="~/web-assets/js/jquery.min.js"></script>
    <script src="~/web-assets/js/bootstrap.min.js"></script>
    <script src="~/web-assets/js/bootstrap-select.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        // =========== Search ===============
        $(document).ready(function () {
            $('a[href="#search"]').on('click', function (event) {
                $('#search').addClass('open');
                $('#search > form > input[type="search"]').focus();
            });
            $('#search, #search button.close').on('click keyup', function (event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $(this).removeClass('open');
                }
            });
        });

        /* Function to Open the side nav panel */
        function openNav() {
            $("#sideNavUserGuide").toggleClass("open");
            var overlay = $('.overlay');
            overlay.show();
        }
        /* Function to close the side nav panel */
        $(".user-guide-header button.close").click(function closeNav() {
            $("#sideNavUserGuide").removeClass("open");
            var overlay = $('.overlay');
            overlay.hide();
        });
    </script>
</body>
</html>
