﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_StoresLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/web-assets/ar/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/web-assets/ar/css/slick-theme.css">
}
<section class="store-categories-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filters-right">
                    <span>
                        <strong>CATEGORIES:</strong> &ensp;
                        <div class="btn-group">
                            <button type="button" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                All <span class="caret"></span>
                            </button>
                            <ul class="delivery-filter dropdown-menu" role="menu">
                                <li><a href="#">Min Delivery Time</a></li>
                                <li><a href="#">Min Order Amount</a></li>
                                <li><a href="#">Min Delivery Charge</a></li>
                                <li><a href="#">Pickup</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Popular</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-1.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 1</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-2.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 2</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-3.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 3</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-4.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 4</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-5.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 5</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-6.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 6</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-7.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 7</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-8.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 8</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storecategories-9.png" width="100%">
                    <div class="carousel-caption">
                        <a href="#"><h4>MAIN CATEGORY 9</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="store-category-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-head text-center">
                <h4>MAKE THE HARD WAY</h4>
                <h2 class="bold">OFFERS</h2>
                <div class="separator"><span><img src="~/web-assets/ar/images/heading-logo.png"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="offers slider">
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="thumbnail">
                            <img src="~/web-assets/ar/images/store-offers.png">
                            <div class="carousel-caption">
                                <a href="#" class="pull-left"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#" class="pull-right"><i class="fas fa-heart"></i></a>
                            </div>
                            <div class="offer-img">
                                <img src="~/web-assets/ar/images/offer-tag-rtl.png" width="80px;">
                            </div>
                            <div class="offer-img">
                                <strong>90% Off</strong>
                            </div>
                            <div class="caption">
                                <h4>Rose Flower</h4>
                                <del>SAR 300.00</del>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 pull-left">
                                        <h4 class="pull-left">SAR 235.50</h4>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 pull-right">
                                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                        <input type="button" value="+" class="btn btn-default adds" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="store-offers-slide slider">
                    <div class="slide">
                        <img src="~/web-assets/ar/images/store-offer-slide1.png">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/store-offer-slide1.png">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/store-offer-slide1.png">
                    </div>
                    <div class="slide">
                        <img src="~/web-assets/ar/images/store-offer-slide1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="store-details">
    <ul>
        <li>
            <i class="fa fa-truck" aria-hidden="true"></i>
            <p>Delivery Time</p>
            <h5>1-2 Days</h5>
        </li>
        <li>
            <i class="fas fa-wallet"></i>
            <p>Minimum Order</p>
            <h5>AED 20</h5>
        </li>
        <li>
            <i class="fas fa-dollar-sign"></i>
            <p>Delivery Charge</p>
            <h5>AED 5</h5>
        </li>
        <li>
            <i class="fas fa-dollar-sign"></i>
            <p>Minimum Order</p>
            <h5>AED 20</h5>
        </li>
        <li>
            <i class="far fa-check-square"></i>
            <p>Orders Done</p>
            <h5>2647</h5>
        </li>
        <li>
            <i class="fas fa-city"></i>
            <p>Business Since</p>
            <h5>1998</h5>
        </li>
        <li>
            <i class="fas fa-shopping-cart"></i>
            <p>Pickup</p>
            <h5>Available</h5>
        </li>
        <li>
            <i class="far fa-arrow-alt-circle-up"></i>
            <p>Shipping</p>
            <h5>Available</h5>
        </li>
        <li>
            <i class="far fa-clock"></i>
            <p>Open <sup></sup></p>
            <h5>7:00 AM to 11:59 PM</h5>
        </li>
    </ul>
</section>
@section Scripts{
    <script src="~/web-assets/ar/js/fade-animation.js"></script>
    <script src="~/web-assets/ar/js/slick.js"></script>

    <script type="text/javascript">
        /* ================ Sort By Dropdown  ================== */
        $('.delivery-filter a').on('click', function () {
            $('.filter-dropdown.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
        })

        /* ================ Offers Slide  ================== */
        $(document).ready(function () {
            $(".offers").slick({
                rtl: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3500,
                arrows: true,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1280,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }]
            });
        });

        /* ================ Store Single Offers Slide ================== */
        $(document).ready(function () {
            $(".store-offers-slide").slick({
                rtl: true,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: true,
                pauseOnHover: false,
            });
        });

        /* ================ Qty Value Increment & Decrement ================== */
        $('.adds').click(function add() {
            var _qty = $(this).parent().children(".noOfQty");

            var $rooms = $(_qty);
            var a = $rooms.val();

            a++;
            $(".subs").prop("disabled", !a);
            $rooms.val(a);
        });
        $(".subs").prop("disabled", !$(".noOfQty").val());

        $('.subs').click(function subst() {

            var _qty = $(this).parent().children(".noOfQty");

            var $rooms = $(_qty);
            var b = $rooms.val();
            if (b >= 1) {
                b--;
                $rooms.val(b);
            }
            else {
                $(".subs").prop("disabled", true);
            }
        });
    </script>
}

