﻿
@{
    ViewBag.Title = "Checkclick Coupons";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{

}

<section class="myorders-banner text-center">
    <h2><strong>Coupons</strong></h2>
    <div class="text-center">
        <P>5 available</P>
    </div>
</section>

<section class="coupons-list">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="coupon">
                    <div class="row">
                        <div class="col-xs-4 text-right pt-5 fwidth">
                            <img src="~/web-assets/images/coupon-img.png" width="114">
                        </div>
                        <div class="col-xs-8 fwidth">
                            <h4 class="black-color">Dr. CAFE COFFEE</h4>
                            <h4 class="blue-color">Get 25% Off for the same<br>secound item</h4>
                            <h3 class="mt-2">Code : AEX478</h3>
                            <p class="pull-left">Available for the next 5 orders</p>
                            <p class="pull-right grey-color pr-3">Validity 12 june’18</p>
                        </div>
                    </div>
                    <div class="half-circle-right"></div>
                    <div class="half-circle-left"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="coupon">
                    <div class="row">
                        <div class="col-xs-4 text-right pt-5 fwidth">
                            <img src="~/web-assets/images/coupon-img.png" width="114">
                        </div>
                        <div class="col-xs-8 fwidth">
                            <h4 class="black-color">Dr. CAFE COFFEE</h4>
                            <h4 class="blue-color">Get 25% Off for the same<br>secound item</h4>
                            <h3 class="mt-2">Code : AEX478</h3>
                            <p class="pull-left">Available for the next 5 orders</p>
                            <p class="pull-right grey-color pr-3">Validity 12 june’18</p>
                        </div>
                    </div>
                    <div class="half-circle-right"></div>
                    <div class="half-circle-left"></div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <div class="pagination">
                    <!-- <a href="#">&lt;</a> -->
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&gt;</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

}

