﻿
@{
    ViewBag.Title = "Checkclick Products Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

}
<section class="product-banner">
    <div>
        <h1>PRODUCTS</h1>
    </div>
</section>

<section class="product-list">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="~/Stores">
                        <i class="fas fa-book"></i>
                        <p>BOOKS & STATIONARY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="~/Views/Stores/Index.cshtml">
                        <i class="fas fa-spa"></i>
                        <p>FLOWERS & PLANTS</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="~/Views/Stores/Index.cshtml">
                        <i class="far fa-sun"></i>
                        <p>PERFUMES</p>
</div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-cookie"></i>
                        <p>SWEETS & NUTS</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-balance-scale"></i>
                        <p>GROCERY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-lightbulb"></i>
                        <p>ELECTRONICS & APPLIANCES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fab fa-schlix"></i>
                        <p>FASHION & ACCESSORIES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-home"></i>
                        <p>HARDWARE</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-chair"></i>
                        <p>HOME DECOR & FURNITURE</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-tablets"></i>
                        <p>PHARMACY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-ring"></i>
                        <p>JEWELLERY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-medkit"></i>
                        <p>HEALTHCARE & EQUIPMENT</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-utensils"></i>
                        <p>CATTERING</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="far fa-smile"></i>
                        <p>MAKEUP</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-democrat"></i>
                        <p>TOYS & PARTY</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-paw"></i>
                        <p>PETS</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-trophy"></i>
                        <p>SPORTS</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-print"></i>
                        <p>PRINTING AND ADVERTISEMENT</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-coffee"></i>
                        <p>CAFE</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-utensils"></i>
                        <p>RESTURENT</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="col-md-9">
                <section class="customer-logos slider">
                    <div class="slide"><img src="~/web-assets/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo5.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/images/logo5.png"></div>
                </section>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/web-assets/js/slick.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1367,
                    settings: {
                        slidesToShow: 5
                    }
                }, {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });
    </script>
}
