﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{}

<section class="product-banner service">
    <div>
        <h1>SERVICES</h1>
    </div>
</section>

<section class="product-list">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-book"></i>
                        <p>CLEANING SERVICES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-spa"></i>
                        <p>SHIPPING SERVICES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="far fa-sun"></i>
                        <p>MAINTENANCE</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-cookie"></i>
                        <p>BEAUTY SERVICES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-balance-scale"></i>
                        <p>PHOTOGRAPHIC SERVICES</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="text-center">
                    <a href="#">
                        <i class="fas fa-lightbulb"></i>
                        <p>ELECTRONIC SERVICES</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="col-md-9">
                <section class="customer-logos slider">
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/web-assets/ar/js/slick.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                rtl: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1367,
                    settings: {
                        slidesToShow: 5
                    }
                }, {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });
    </script>
}

