﻿
@{
    ViewBag.Title = "Store Services List";
    Layout = "~/Views/Shared/_StoreSubLayout.cshtml";
}

@section Styles{}

<section class="store-products-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>Cleaning With Tool</strong></h4>
            </div>
            <div class="col-sm-6 text-right">
                <div class="filters-right">
                    <span>
                        <strong>SORT BY:</strong> &ensp;
                        <div class="btn-group">
                            <button type="button" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                High to Low <span class="caret"></span>
                            </button>
                            <ul class="delivery-filter dropdown-menu" role="menu">
                                <li><a href="#">Min Delivery Time</a></li>
                                <li><a href="#">Min Order Amount</a></li>
                                <li><a href="#">Min Delivery Charge</a></li>
                                <li><a href="#">Pickup</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Popular</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/images/service-sub-cat2.png" width="100%">
                    <div class="carousel-caption">
                        <img src="~/web-assets/images/offer-tag.png">
                    </div>
                    <div class="carousel-caption">
                        <strong>90% OFF</strong>
                    </div>
                    <div class="product-list-cart">
                        <i class="far fa-heart"></i><br>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="caption">
                        <h4>Rose Flower</h4>
                        <del>SAR 300.00</del>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 pull-left">
                                <h4 class="pull-left">SAR 235.50</h4>
                            </div>
                            <div class="col-sm-6 col-xs-6 pull-right">
                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                <input type="button" value="+" class="btn btn-default adds" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/images/service-sub-cat2.png" width="100%">
                    <div class="product-list-cart">
                        <i class="far fa-heart"></i><br>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="caption">
                        <h4>Rose Flower</h4>
                        <del>SAR 300.00</del>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 pull-left">
                                <h4 class="pull-left">SAR 235.50</h4>
                            </div>
                            <div class="col-sm-6 col-xs-6 pull-right">
                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                <input type="button" value="+" class="btn btn-default adds" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagination">
                <!-- <a href="#">&lt;</a> -->
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&gt;</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $('.delivery-filter a').on('click', function () {
        $('.filter-dropdown.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
    })

    $('.adds').click(function add() {
        var _qty = $(this).parent().children(".noOfQty");

        var $rooms = $(_qty);
        var a = $rooms.val();

        a++;
        $(".subs").prop("disabled", !a);
        $rooms.val(a);
    });
    $(".subs").prop("disabled", !$(".noOfQty").val());

    $('.subs').click(function subst() {

        var _qty = $(this).parent().children(".noOfQty");

        var $rooms = $(_qty);
        var b = $rooms.val();
        if (b >= 1) {
            b--;
            $rooms.val(b);
        }
        else {
            $(".subs").prop("disabled", true);
        }
    });
    </script>
    }
