﻿
@{
    ViewBag.Title = "CreateCountries";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Add a new country                    
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/Countries">Countries</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create Countries</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-ticket "></i>
                            <span class="caption-subject primary-txt">Create Countries</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Allows billing	                                           
                                        </label>
                                        <div class="col-sm-8">
                                          <input type="checkbox" class="checkbox-inline "  checked="checked" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Allows shipping
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="checkbox"  checked="checked" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Two letter ISO code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Three letter ISO code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Numeric ISO code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Subject to VAT</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox"   checked="checked" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Limited to stores	</label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2" id="SelectStore" multiple>
                                                <option></option>
                                                <option value="1">Test Store2</option>
                                                <option value="2">Your store name</option>                                             
                                            </select>
                                        </div>
                                    </div><!-- end form-group-->
                                    @*<div class="form-group">
                                        <label class="control-label col-sm-4">Published	</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox"  checked="checked"  />
                                        </div>
                                    </div>*@<!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Display order	</label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2" id="SelectDisplayorder">
                                                <option></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <a class="small-button button-submit" href="javascript:;">Submit</a>
                                        </div>
                                    </div><!-- end form-group -->
                                </div><!-- end form-horizontal -->
                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>




@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");      
   
        $("#SelectStore").select2({
            placeholder: "Select Stores"
        });
        $("#SelectDisplayorder").select2({
            placeholder: "Select Display Order"
        });
       

    </script>
}




