﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Countries
                    <small>View list of Countries</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
            <div class="page-toolbar">
                <a class="btn red" href="~/Admin/Countries/CreateCountries"><i class="fa fa-plus"></i> Create Countries</a>

            </div>
        </div>

        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Countries List</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        @*<div class="row">
                            <div class="col-sm-7 col-sm-offset-5 text-right">
                                <a href="~/Admin/Countries/CreateCountries" class="btn dark">
                                    <i class="fa fa-plus-square-o"></i>&nbsp;Add New
                                </a>
                               
                            </div>
                        </div>
                        <hr />*@
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-left">
                                <tr>
                                   
                                    <th>Name</th>
                                    <th>Allows billing</th>
                                    <th>Allows shipping</th>
                                    <th>Two letter ISO code</th>
                                    <th>Three letter ISO code</th>
                                    <th>Numeric ISO code</th>
                                    <th>Subject to VAT</th>
                                    <th>Number of states
                                    <th>Display order</th>
                                    <th>Published</th>                                       
                                    <th>Edit</th>
                                </tr>
                                <tr>
                                  
                                    <td>United States</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>US</td>
                                    <td>USA</td>
                                    <td>840</td>
                                    <td>No</td>
                                    <td>62</td>
                                    <td>1</td>
                                    <td>Yes</td>
                                    <td>
                                        <a href="~/Admin/Countries/CreateCountries/" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td>United States</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>US</td>
                                    <td>USA</td>
                                    <td>840</td>
                                    <td>No</td>
                                    <td>62</td>
                                    <td>1</td>
                                    <td>Yes</td>
                                    <td>
                                        <a href="~/Admin/Countries/CreateCountries/" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td>United States</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>US</td>
                                    <td>USA</td>
                                    <td>840</td>
                                    <td>No</td>
                                    <td>62</td>
                                    <td>1</td>
                                    <td>Yes</td>
                                    <td>
                                        <a href="~/Admin/Countries/CreateCountries/" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td>United States</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>US</td>
                                    <td>USA</td>
                                    <td>840</td>
                                    <td>No</td>
                                    <td>62</td>
                                    <td>1</td>
                                    <td>Yes</td>
                                    <td>
                                        <a href="~/Admin/Countries/CreateCountries/" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td>United States</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>US</td>
                                    <td>USA</td>
                                    <td>840</td>
                                    <td>No</td>
                                    <td>62</td>
                                    <td>1</td>
                                    <td>Yes</td>
                                    <td>
                                        <a href="~/Admin/Countries/CreateCountries/" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- end table-responsive -->
                        <div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate"><ul class="pagination margin-0"><li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
                    </div><!-- end portlet-body -->
                </div><!-- end portlet light bordered-->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>


@section Scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>
}


