﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <link rel="icon" href="~/web-assets/ar/images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
    <link rel="stylesheet" href="~/web-assets/ar/css/bootstrap.min.css">
    <link href="~/web-assets/ar/css/bootstrap-select.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <link href="~/web-assets/ar/css/style.css" rel="stylesheet" />


</head>
<body>

    <div class="overlay"></div>

    <!-- ==================  Header  ====================-->
    <header>
        <section class="sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">
                        <p>
                            <i class="fas fa-globe fa-1x"></i> Shop in
                            <select class="selectpicker" id="select-country" data-live-search="true">
                                <option data-tokens="Jeddah">Jeddah</option>
                                <option data-tokens="Macca">Macca</option>
                                <option data-tokens="MNadina">Madina</option>
                                <option data-tokens="Kuwait">Kuwait</option>
                                <option data-tokens="Dubai">Dubai</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-xs-3 hidden-lg hidden-md hidden-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="~/web-assets/ar/images/user.png" width="24"> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Coupon Voucher</a></li>
                            <li><a href="#">Language</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-9 text-right right-head">
                        <div class="dropdown">
                            <a href="#search" class="search rborder hidden-lg hidden-md hidden-sm">
                                <img src="~/web-assets/ar/images/search.png">
                            </a>
                            <a href="#" class="rborder dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <sup class="badge"> 4 </sup>
                            </a>
                            <ul class="dropdown-menu notify-drop">
                                <div class="notify-drop-title">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">Notifications (<b>4</b>)</div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom"></a></div>
                                    </div>
                                </div>
                                <div class="drop-content">
                                    <li>
                                        <div class="col-md-3 col-sm-3 hidden-xs"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                                        <div class="col-md-9 col-sm-9 col-xs-12 pd-l0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3 hidden-xs"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3 hidden-xs"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3 hidden-xs"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-3 col-sm-3 hidden-xs"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </div>
                                    </li>
                                </div>
                                <div class="notify-drop-footer text-center">
                                    <a href=""><i class="fa fa-eye"></i> View All</a>
                                </div>
                            </ul>

                            <a href="#" onclick="openNav()">
                                <i class="fas fa-shopping-cart"></i>
                                <sup class="badge badge-default"> 4 </sup>
                            </a>
                            <a href="#" class="rborder hidden-lg hidden-md hidden-sm">
                                <select>
                                    <option>EN</option>
                                    <option>AR</option>
                                </select>
                            </a>
                            <a href="#" class="hidden-xs">
                                0 / <i class="fas fa-pound-sign"></i> 0.00
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-menu">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-lg hidden-md hidden-sm">
                            <img style="	width: 64px;" src="~/web-assets/ar/images/Logo.png" alt="Dispute Bills">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-left">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Home">HOME</a></li>
                            <li><a href="~/Products">PRODUCTS</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">OFFERS</a></li>
                            <li><a href="#">COUPONS</a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li>
                            <a href="#search" class="search rborder">
                                <img src="~/web-assets/ar/images/search.png">
                            </a>
                        </li>

                        <li>
                            <a href="#" class="rborder hidden-xs">
                                <select>
                                    <option>EN</option>
                                    <option>AR</option>
                                </select>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="~/web-assets/ar/images/user.png" width="24"> MY ACCOUNT <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Offers</a></li>
                                <li><a href="#">Coupon Voucher</a></li>
                                <li><a href="#">Language</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <!-- ==================  body  ====================-->
    @RenderBody()

    <!-- ================== footer ======================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>CHECKCLICK</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="social-icons">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fas fa-envelope"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>INFORMATION</h4>
                            <hr width="20%">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Download App</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>USEFUL LINKS</h4>
                            <hr width="20%">
                            <ul>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">Payment</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>GET IN TOUCH</h4>
                            <hr width="20%">
                            <ul>
                                <li><a href=""><i class="far fa-envelope"></i> support@checkclick.com</a></li>
                                <li><a href="#"><i class="fas fa-phone-volume"></i> +12(345) 678 901 </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2018 Checkclick ® All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <img src="~/web-assets/ar/images/mastercard.PNG">
                    <img src="~/web-assets/ar/images/visacard.png">
                    <img src="~/web-assets/ar/images/madacard.png">
                    <img src="~/web-assets/ar/images/cash.png">
                </div>
            </div>
        </div>
    </section>

    <div id="search">
        <span class="close">X</span>
        <form id="searchform" action="#" method="">
            <input value="" name="q" type="search" placeholder="type to search" />
        </form>
    </div>

    <div id="sideNavUserGuide" class="side-nav-ug">
        <div class="user-guide-header">
            <h4>SHOPPING CART</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                Close
                <span aria-hidden="true">X</span>
            </button>
        </div>
        <div class="cart-list">
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 nopadding">
                        <img src="~/web-assets/ar/images/productdetails-11.jpg" width="100%">
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <span class="pull-right" aria-hidden="true">x</span>
                        <h5>Cleaning with Tools</h5>
                        <small>20 Pics</small><br>
                        <h5 class="pull-left">SAR 235.50</h5>
                        <div class="pull-right">
                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                            <input type="button" value="+" class="btn btn-default adds" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 nopadding">
                        <img src="~/web-assets/ar/images/productdetails-11.jpg" width="100%">
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <span class="pull-right" aria-hidden="true">x</span>
                        <h5>Cleaning with Tools</h5>
                        <small>20 Pics</small><br>
                        <h5 class="pull-left">SAR 235.50</h5>
                        <div class="pull-right">
                            <input type="button" value="-" class="btn btn-default subs pull-left" />
                            <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                            <input type="button" value="+" class="btn btn-default adds" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h4>SUB TOTAL</h4>
                    </div>
                    <div class="col-sm-6 col-xs-6 text-right">
                        <h4 class="text-danger">SAR 764.00</h4>
                    </div>
                </div>
            </div>
            <hr>
            <div class="cart-item">
                <div class="row">
                    <button type="button" name="" class="btn btn-primary form-control" value="VIEW CART">VIEW CART</button>
                    <button type="button" name="" class="btn btn-danger form-control" value="CHECK OUT">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================ scripts ============================= -->
    <script src="~/web-assets/ar/js/jquery.min.js"></script>
    <script src="~/web-assets/ar/js/bootstrap.min.js"></script>
    <script src="~/web-assets/ar/js/bootstrap-select.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        // =========== Search ===============
        $(document).ready(function () {
            $('a[href="#search"]').on('click', function (event) {
                $('#search').addClass('open');
                $('#search > form > input[type="search"]').focus();
            });
            $('#search, #search button.close').on('click keyup', function (event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $(this).removeClass('open');
                }
            });
        });

        /* Function to Open the side nav panel */
        function openNav() {
            $("#sideNavUserGuide").toggleClass("open");
            var overlay = $('.overlay');
            overlay.show();
        }
        /* Function to close the side nav panel */
        $(".user-guide-header button.close").click(function closeNav() {
            $("#sideNavUserGuide").removeClass("open");
            var overlay = $('.overlay');
            overlay.hide();
        });
    </script>
</body>
</html>
