﻿
@{
    ViewBag.Title = "User Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{}

<section class="myorders-banner text-center pt-4 pb-4">
    <h2><strong>LANGUAGE</strong></h2>
</section>

<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 language text-center">
                <button type="button" class="btn btn-default btn-lg mr-5 active">English</button>
                <button type="button" class="btn btn-default btn-lg">ARABIC</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{}