﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Styles{   
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Role Access Management                   
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Role Access</span>
            </li>
           
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    @*<div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Manage Role Access</span>
                        </div>
                    </div>*@
                    <div class="portlet-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Select Role</label>
                                <div class="col-md-3">
                                    <select class="form-control select2" id="SelectRole">
                                        <option value=""></option>
                                        <option value="1">Administrators</option>
                                        <option value="2">Forum Moderators</option>
                                        <option value="3">Guests</option>
                                        <option value="4">Registered</option>
                                        <option value="5">Vendors</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end form-group -->
                            <div class="form-group">
                               
                                <div class="menu-level-access">
                                    <span class="caption-subject font-dark bold uppercase"><i class="icon-layers font-dark"></i> Admin </span>                                   
                                </div>
                                <div class="col-sm-12">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Store Requests
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Store Search
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Advertisement Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> User Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Operation Management
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="menu-level-access">
                                    <span class="caption-subject font-dark bold uppercase"><i class="icon-layers font-dark"></i> Vendor </span>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Branch Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> TimeTable Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1">  Product Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Order Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Access Management
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> Revenue Management
                                            <span></span>
                                        </label>
                                      
                                    </div>
                                </div>
                               
                            </div><!-- end form-group-->


                            <div class="form-group">
                                <div class="col-md-3">
                                    <a id="lbtnMsave" class="btn dark">Save</a>
                                </div>
                            </div>
                            <!-- end form-group -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/form-dropzone.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#selectcity").select2({
            placeholder: "Select City",
        });

        $(".country_list").select2({
            placeholder: "Select Country",
        });

        $("#ApartType").select2({
            placeholder: "Select Apartment Type",
        });
        $("#MinimumBookingTime").select2({
            placeholder: "Select Minimum Pickup Time",
            minimumResultsForSearch: -1
        });
        $("#MinimumBookingTimeHome").select2({
            placeholder: "Select Minimum Delivery Time",
            minimumResultsForSearch: -1
        });
        $("#BookingTime, #BookingTimeHome").select2({
            placeholder: "Select"
        });
        $("#DeliveryCharges").select2({
            placeholder: "Select Delivery Charge"
        })
        $("#SelectRole").select2({
            placeholder: "Select Role"
        });
        $("#SelectCityPayment").select2({
            placeholder: "Select City "
        })
        $("#SelectCountry").select2({
            placeholder: "Select Country"
        });

        $("#StoreColor").select2({
            placeholder: "Select Store Color"
        });

        $("#PaymentCountry").select2({
            placeholder: "Select Country"
        })
    </script>
}







<!-- END CONTENT -->
