﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Checkclick Seller / Vendor Registration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Register your store with checkclick to create your own online store in Saudi Arabia" name="description" />
    <meta content="Creative Solutions Co. Ltd" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets1/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets1/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets1/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets1/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/assets/favicon.png" />
    <style type="text/css">
        @@media (min-width: 992px){
            .page-content-wrapper .page-content {
                margin-left: 0;
                margin-top: 60px;

            }
        }
        body{
            background: #fff;
        }
        .form-body{
            padding: 0;

        }
        .mt-element-step .step-line .active .mt-step-number {
            color: #e78179 !important;
            border-color: #e78179 !important;
        }
        .mt-element-step .step-line .active .mt-step-title:after, .mt-element-step .step-line .active .mt-step-title:before {
            background-color: #e78179;
        }
        .mt-element-step .step-line .done .mt-step-content, .mt-element-step .step-line .error .mt-step-content, .mt-element-step .step-line .active .mt-step-content{
            color: #4a4a4a !important
        }
        .horizontal-form .form-actions {
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            background: #f5f5f5 !important;
            z-index: 9999
        }
        @@media (max-width: 991px){
            .tab-content{
                margin-bottom: 50px;
            }
        }
        @@media (max-width: 767px) {
            .page-header.navbar .page-top {
                padding: inherit;
                display: inherit;
                clear: none;
                width: inherit;
                background: transparent;
            }
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-language .dropdown-toggle .langname{
                display: inline
            }
            .page-header.navbar {
                border-bottom: none;
            }
        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="~/Home">
                    <img src="~/assets1/assets/logo-colored.jpg" alt="logo" class="logo-default logo-new" />
                </a>                
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->                       
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->                
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">                        
                        
                        <li class="separator hide"> </li>
                        <!-- BEGIN LANGUAGE BAR -->
                       
                        <li class=" dropdown-language">
                            <a href="javascript:;" class="dropdown-toggle" >
                                <img alt="" src="~/assets1/assets/global/img/flags/us.png">
                                <span class="langname"> English </span>
                            </a>
                            
                        </li>
                        <!-- END LANGUAGE BAR -->
                        
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
               
                <!-- BEGIN PAGE BASE CONTENT -->
                <!-- BEGIN : STEPS -->
                  
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light portlet-fit ">
                           
                            <div class="portlet-body form">
                                <div class="mt-element-step">
                                    <div class="row step-line">                                        
                                        <div class="col-sm-4 mt-step-col first done">
                                            <div class="mt-step-number bg-white mouse-pointer" data-toggle="tab" data-target="#account__info">
                                                <i class="icon-pencil"></i>
                                            </div>
                                            <div class="mt-step-title uppercase font-grey-cascade"></div>
                                            <div class="mt-step-content font-grey-cascade">Business Information</div>
                                        </div>
                                        <div class="col-sm-4 mt-step-col error">
                                            <div class="mt-step-number bg-white mouse-pointer" data-toggle="tab" data-target="#account__verify">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="mt-step-title uppercase font-grey-cascade"></div>
                                            <div class="mt-step-content font-grey-cascade">Account Information</div>
                                        </div>
                                        <div class="col-sm-4 mt-step-col active last">
                                            <div class="mt-step-number bg-white mouse-pointer" data-toggle="tab" data-target="#sotre__location">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="mt-step-title uppercase font-grey-cascade"></div>
                                            <div class="mt-step-content font-grey-cascade">Verify Account</div>
                                        </div>
                                        
                                    </div><!-- steps row end-->
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="account__info">
                                            <form class="horizontal-form">
                                                <div class="form-body">                          
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-2">
                                                            
                                                            <div class="form-group">
                                                                <div class="mt-radio-inline">
                                                                    <label class="mt-radio">
                                                                        <input type="radio" name="maincategory" id="optionsRadios1" value="option1" checked=""> Entity
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="mt-radio">
                                                                        <input type="radio" name="maincategory" id="optionsRadios2" value="option2"> Individual
                                                                        <span></span>
                                                                    </label>
                                                                    <p class="help-block">A partnership, organization or business that has a legal ans separately identifiable existence.</p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="FirstName">First Name</label>
                                                                <input class="form-control" type="text" placeholder="Entity Owner / Authorized Person Name" name="FirstName" autocomplete="off">
                                                            </div>
                                                            <div class="form-group ">
                                                                <label for="MiddleName">Middle Name (Optional)</label>
                                                                <input class="form-control " type="text" placeholder="Entity Owner / Authorized Person Name" name="MiddleName" autocomplete="off">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="LastName">Last Name</label>
                                                                <input class="form-control " type="text" placeholder="Entity Owner / Authorized Person Name" name="LastName" autocomplete="off">
                                                            </div><!-- end form-group -->
                                                            
                                                        </div>
                                                    </div>
                                                    <!--/row-->
                                                </div><!-- end form body-->                     
                                            </form>
                                        </div><!-- end account__info-->
                                        <div class="tab-pane fade" id="account__verify">
                                            <form class="horizontal-form">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-2">
                                                            <div class="form-group">
                                                                <label for="email">Email ID</label>
                                                                <input class="form-control" type="text" placeholder="Email ID" name="email" autocomplete="off">
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <label for="password">Password</label>
                                                                <input class="form-control" type="password" placeholder="Password" name="password" autocomplete="off">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="cpassword">Confirm Password</label>
                                                                <input class="form-control" type="password" placeholder="Confirm Password" name="cpassword" autocomplete="off">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group m-input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        SA +966
                                                                    </span>
                                                                    <input class="form-control m-input" type="text" placeholder="Phone Number" name="number" autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                                    <!--/row-->
                                                </div><!-- end form body-->
                                            </form>
                                        </div><!-- end account__verify-->
                                        <div class="tab-pane fade" id="sotre__location">
                                            <form class="horizontal-form">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-2">
                                                            <h3>Phone Number Verification</h3>
                                                            <div class="form-group">
                                                                <p class="help-block">
                                                                    You should receive confirmation by SMS within the next 5 to 60 seconds on the phone number:<strong>+966 586321459</strong><br /><a href="javascript:;">Didn't get a code?</a>

                                                                </p>
                                                                <label>Enter verification code</label>
                                                                <input type="text" class="form-control" placeholder="Enter verification code here" />
                                                            </div><!-- end form-group -->
                                                        </div>
                                                    </div>
                                                    <!--/row-->
                                                </div><!-- end form body-->
                                            </form>
                                        </div><!-- end sotre__location-->
                                        <div class="tab-pane fade" id="account__review">

                                        </div><!-- end contact__info-->
                                    </div><!-- end tab-content -->
                                    <div class="horizontal-form">
                                        <div class="form-actions right">
                                            <div class="col-sm-11">
                                                <button type="button" class="btn default">Back</button>
                                                <button type="submit" class="btn red">
                                                    Save and Continue
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END : STEPS -->
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        
    </div>
    <!-- END CONTAINER -->
   
    <!--[if lt IE 9]>
    <script src="~/assets1/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets1/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets1/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets1/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets1/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets1/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>
