﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{
    <link href="~/web-assets/ar/css/bootstrap-fileinput.css" rel="stylesheet" />
}

<section class="myorders-banner text-center pt-4 pb-5">
    <h2><strong>MY PROFILE</strong></h2>
</section>

<section class="profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 user text-center">
                <h3>User Image</h3>

                <div class="form-group last">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="~/web-assets/ar/images/user-profile.png" />
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="btn btn-default fileinput-new"> Change image </span>
                                <span class="btn btn-default fileinput-exists"> Change </span>
                                <input type="file" name="...">
                            </span>
                            <a href="javascript:;" class="btn btn-default red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                        </div>
                    </div>
                </div>

                <div class="user-profile">
                    <p><strong class="font16">Tester Profile</strong></p>
                    <p>vali97000@gmail.com</p>
                    <p>+966 123456789</p>
                    <p>P.O.Box 331799,<br /> Riyadh 11373,<br /> Kingdom of Saudi Arabia</p>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-7">
                <h3 class="text-center">User Details</h3>
                <hr />
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="Tester" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="Profile" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>E-Mail</label>
                                <input type="text" class="form-control" value="vali@gmail.com" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" value="123456789" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" value="*********" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Conform Password</label>
                                <input type="text" class="form-control" value="*********" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea rows="5" class="form-control">P.O.Box 331799, Riyadh 11373, Kingdom of Saudi Arabia
                                </textarea>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary form-control">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/web-assets/ar/js/bootstrap-fileinput.js"></script>
}

