﻿
@{
    ViewBag.Title = "Checkclick Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
        
}

<section class="wishlist-tabs signin">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#Signin" data-toggle="tab">SIGN IN</a></li>
                    <li><a href="#Signup" data-toggle="tab">SIGN UP</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane py-5 active" id="Signin">
                        <div class="form-wrapper">
                            <form>
                                <div class="form-item">
                                    <label for="email"></label>
                                    <input type="email" name="email" required="required" placeholder="Email Address">
                                </div>
                                <div class="form-item">
                                    <label for="password"></label>
                                    <input type="password" name="password" required="required" placeholder="Password">
                                </div>
                                <div class="form-footer">
                                    <p><a href="#">Forgot password?</a></p>
                                </div>
                                <div class="button-panel">
                                    <button type="button" class="button form-control" title="Sign In" value="Sign Up">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane py-5" id="Signup">

                        <div id="wizard">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="step1">

                                    <div class="form-wrapper">
                                        <form>
                                            <div class="form-item">
                                                <input type="text" name="fname" required="required" placeholder="First Name">
                                            </div>
                                            <div class="form-item">
                                                <input type="text" name="lname" required="required" placeholder="Last Name">
                                            </div>
                                            <div class="form-item">
                                                <input type="email" name="email" required="required" placeholder="Enter Email">
                                            </div>
                                            <div class="form-item">
                                                <input type="password" name="password" required="required" placeholder="Enter Password">
                                            </div>
                                            <div class="form-item">
                                                <input type="password" name="password" required="required" placeholder="Conform Password">
                                            </div>
                                            <div class="button-panel mt-5">
                                                <a type="button" class="button form-control pt-3" href="#step2" aria-controls="step1" role="tab" data-toggle="tab">Sign Up</a>
                                                @*<button type="button" class="button" title="Sign In" value="Sign Up">Sign Up</button>*@
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="step2">
                                    <div class="form-wrapper">
                                        <form>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default">+966</span>
                                                </span>
                                                <div class="form-item">
                                                    <input type="text" class="form-control" data-val="true" data-val-length-max="9" maxlength="9" name="MobileNo" placeholder="Enter Mobile Number" value="">
                                                </div>

                                            </div>
                                            <div class="button-panel mt-5">
                                                <a type="button" class="button form-control pt-3" href="#step3" aria-controls="step1" role="tab" data-toggle="tab">Continue</a>
                                                @*<button type="button" class="button" title="Sign In" value="Sign Up">Sign Up</button>*@
                                            </div>
                                        </form>
                                    </div>
                               </div>
                                    <div role="tabpanel" class="tab-pane" id="step3">
                                        <div class="form-wrapper">
                                            <form>
                                                <p>Enter the OTP Sent to the mobile number<br /><strong>+966 123456789</strong> for verification.  </p>
                                                <div class="form-item">
                                                    <input type="number" name="fname" required="required" placeholder="Enter OTP">
                                                </div>
                                                <div class="button-panel mt-5">
                                                    <a type="button" class="button form-control pt-3" href="#">Done</a>
                                                    @*<button type="button" class="button" title="Sign In" value="Sign Up">Sign Up</button>*@
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>























                        @*<div class="form-wrapper">
                            <form>
                                <div class="form-item">
                                    <input type="text" name="fname" required="required" placeholder="First Name">
                                </div>
                                <div class="form-item">
                                    <input type="text" name="lname" required="required" placeholder="Last Name">
                                </div>
                                <div class="form-item">
                                    <input type="email" name="email" required="required" placeholder="Enter Email">
                                </div>
                                <div class="form-item">
                                    <input type="password" name="password" required="required" placeholder="Enter Password">
                                </div>
                                <div class="form-item">
                                    <input type="password" name="password" required="required" placeholder="Conform Password">
                                </div>
                                <div class="button-panel mt-5">
                                    <input type="submit" class="button" title="Sign In" value="Sign Up">
                                </div>
                            </form>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts{
        
}
