﻿
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
}
<section class="myorders-banner text-center">
    <h2><strong>MY ORDERS</strong></h2>
    <div class="breadcrumb">
        <a class="breadcrumb-item" href="index.html">Home <i class="fas fa-chevron-right"></i></a>
        <span class="breadcrumb-item active">Cart</span>
    </div>
</section>

<section class="myorder-tabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#pending" data-toggle="tab">PENDING</a></li>
                    <li><a href="#processing" data-toggle="tab">PROCESSING</a></li>
                    <li><a href="#history" data-toggle="tab">HISTORY</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane tab-pending box-details active" id="pending">
                        <div class="row head">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 col-xs-6  text-center">
                                <h3><strong>ZARA STORE</strong></h3>
                            </div>
                            <div class="col-sm-4 col-xs-6 text-right">
                                <h3><a href=""><i class="fas fa-phone"></i></a></h3>
                            </div>
                        </div>

                        <div class="item-pending-details">
                            <img class="store-img" src="~/web-assets/images/store-img.png">
                            <div class="full-item-details">
                                <h3 class="pb-5 black-color"><strong>Order Details</strong></h3>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Placed on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Seheduled on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row pt-5 pb-5">
                                    <div class="col-sm-3"><h4 class="black-color">Delivery Option :</h4></div>
                                    <div class="col-sm-9"><h4 class="black-color">Standerd Delivery  or  Shipping  or Pickup</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color">Order Total :</h4></div>
                                    <div class="col-sm-9"><h3 class="nomargin">SAR 500.00 (5 items)</h3></div>
                                </div>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <h4 class="pb-5 black-color"><strong>Payment Info</strong></h4>
                                <h4 class="grey-color">Cash on Delivery  or  credit card  *******758   (pay late)</h4>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color"><strong>Delivery Address :</strong></h4></div>
                                    <div class="col-sm-9"><h4 class="Address">Aya abdulah aziz,<br> 3733 ibn musa,<br> jeddah, Saudi Arabia</h4></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row pt-5">
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-pricing pt-5">
                                <div class="col-sm-6">
                                    <h4><strong>Remarks</strong></h4>
                                    <textarea rows="5" class="form-control"></textarea>
                                </div>
                                <div class="col-md-offset-1 col-sm-5 table-responsive">
                                    <h4 class="text-center"><strong>PRICE DETAILS</strong></h4><hr>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Total</td>
                                                <td>SAR 235.50</td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Charges</td>
                                                <td>SAR 0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Tax (VAT)</td>
                                                <td>SAR 1.50</td>
                                            </tr>
                                            <tr>
                                                <td>Sub Total</td>
                                                <td>SAR 237.00</td>
                                            </tr>
                                            <tr>
                                                <td>Discount</td>
                                                <td>SAR 17.00</td>
                                            </tr>
                                            <tr>
                                                <td>NET TOTAL</td>
                                                <td>SAR 220.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane tab-pending box-details" id="processing">
                        <div class="row head">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 text-center">
                                <h3><strong>ZARA STORE</strong></h3>
                            </div>
                            <div class="col-sm-4 text-right">
                                <h3>Order No: <span class="red-color">0123456</span> &ensp; <a href=""><i class="fas fa-phone"></i></a></h3>
                            </div>
                        </div>

                        <div class="item-pending-details">
                            <img class="store-img" src="~/web-assets/images/store-img.png">
                            <div class="full-item-details">
                                <h3 class="pb-5 black-color"><strong>Order Details</strong></h3>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Placed on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Seheduled on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row pt-5 pb-5">
                                    <div class="col-sm-3"><h4 class="black-color">Delivery Option :</h4></div>
                                    <div class="col-sm-9"><h4 class="black-color">Standerd Delivery  or  Shipping  or Pickup</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color">Order Total :</h4></div>
                                    <div class="col-sm-9"><h3 class="nomargin">SAR 500.00 (5 items)</h3></div>
                                </div>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <h4 class="pb-5 black-color"><strong>Payment Info</strong></h4>
                                <h4 class="grey-color">Cash on Delivery  or  credit card  *******758   (pay late)</h4>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color"><strong>Delivery Address :</strong></h4></div>
                                    <div class="col-sm-9"><h4 class="Address">Aya abdulah aziz,<br> 3733 ibn musa,<br> jeddah, Saudi Arabia</h4></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row pt-5">
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-pricing pt-5">
                                <div class="col-sm-6">
                                    <h4><strong>Remarks</strong></h4>
                                    <textarea rows="5" class="form-control"></textarea>
                                </div>
                                <div class="col-md-offset-1 col-sm-5 table-responsive">
                                    <h4 class="text-center"><strong>PRICE DETAILS</strong></h4><hr>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Total</td>
                                                <td>SAR 235.50</td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Charges</td>
                                                <td>SAR 0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Tax (VAT)</td>
                                                <td>SAR 1.50</td>
                                            </tr>
                                            <tr>
                                                <td>Sub Total</td>
                                                <td>SAR 237.00</td>
                                            </tr>
                                            <tr>
                                                <td>Discount</td>
                                                <td>SAR 17.00</td>
                                            </tr>
                                            <tr>
                                                <td>NET TOTAL</td>
                                                <td>SAR 220.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><hr>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn">CANCELLATION</button>
                                    <button type="button" class="btn btn-default">CONFIRAM PAYMENT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab-pending box-details" id="history">
                        <div class="row head">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 text-center">
                                <h3><strong>ZARA STORE</strong></h3>
                            </div>
                            <div class="col-sm-4 text-right">
                                <h3>Order No: <span class="red-color">0123456</span> &ensp; <a href=""><i class="fas fa-phone"></i></a></h3>
                            </div>
                        </div>

                        <div class="item-pending-details">
                            <img class="store-img" src="~/web-assets/images/store-img.png">
                            <div class="full-item-details">
                                <h3 class="pb-5 black-color"><strong>Order Details</strong></h3>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Placed on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="grey-color">Seheduled on :</h4></div>
                                    <div class="col-sm-9"><h4 class="grey-color">May 04, 2018</h4></div>
                                </div>
                                <div class="row pt-5 pb-5">
                                    <div class="col-sm-3"><h4 class="black-color">Delivery Option :</h4></div>
                                    <div class="col-sm-9"><h4 class="black-color">Standerd Delivery  or  Shipping  or Pickup</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color">Order Total :</h4></div>
                                    <div class="col-sm-9"><h3 class="nomargin">SAR 500.00 (5 items)</h3></div>
                                </div>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <h4 class="pb-5 black-color"><strong>Payment Info</strong></h4>
                                <h4 class="grey-color">Cash on Delivery  or  credit card  *******758   (pay late)</h4>
                            </div>
                            <hr>
                            <div class="full-item-details">
                                <div class="row">
                                    <div class="col-sm-3"><h4 class="black-color"><strong>Delivery Address :</strong></h4></div>
                                    <div class="col-sm-9"><h4 class="Address">Aya abdulah aziz,<br> 3733 ibn musa,<br> jeddah, Saudi Arabia</h4></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row pt-5 pb-3">
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item-box">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-4 fwidth">
                                                <img src="~/web-assets/images/myorders-pendingdetails.png" width="100%">
                                            </div>
                                            <div class="col-sm-8 col-xs-8 fwidth">
                                                <h4 class="black-color">Cleaning with Tools</h4>
                                                <h4 class="grey-color">20 Pics</h4>
                                                <h4>Qty: 4 Items</h4>
                                                <h4 class="black-color">Total: <strong>SAR 235.50</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-12"></div>
                                <div class="col-md-7 col-sm-12">
                                    <form action="#" method="post">
                                        <div class="return-item">
                                            <div class="row mb-2">
                                                <div class="col-sm-6 col-xs-6 fwidth576">
                                                    <h4 class="pull-left mr-3"> Return Qty: </h4>&ensp;
                                                    <input type="button" value="-" class="btn btn-default subs pull-left">
                                                    <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" name="noOfRoom">
                                                    <input type="button" value="+" class="btn btn-default adds pull-left">
                                                </div>
                                                <div class="col-sm-6 col-xs-6 fwidth576">
                                                    <h4>Amount: <strong>SAR 235.50</strong></h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 class="mr-3 pull-left">You can upload the damage item</h4>
                                                    <div class="pull-left">
                                                        <input type="file" id="filecount" multiple="multiple" class="pull-left">
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Done</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row cart-pricing pt-5">
                                <div class="col-sm-6">
                                    <h4><strong>Remarks</strong></h4>
                                    <textarea rows="5" class="form-control"></textarea>
                                </div>
                                <div class="col-md-offset-1 col-sm-5 table-responsive">
                                    <h4 class="text-center"><strong>PRICE DETAILS</strong></h4><hr>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Total</td>
                                                <td>SAR 235.50</td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Charges</td>
                                                <td>SAR 0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Tax (VAT)</td>
                                                <td>SAR 1.50</td>
                                            </tr>
                                            <tr>
                                                <td>Sub Total</td>
                                                <td>SAR 237.00</td>
                                            </tr>
                                            <tr>
                                                <td>Discount</td>
                                                <td>SAR 17.00</td>
                                            </tr>
                                            <tr>
                                                <td>NET TOTAL</td>
                                                <td>SAR 220.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><hr>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fill Bank Details</h4>
                <small class="red-color">( This popup for Cash payment only )</small>
            </div>
            <div class="modal-body text-center">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Bank Name" name="bankname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Ac Holder Name" name="acname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Account No" name="acno">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="IBAN" name="iban">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/web-assets/js/bootstrap-filestyle.min.js"></script>
    <script>
        $('.adds').click(function add() {
            var _qty = $(this).parent().children(".noOfQty");

            var $rooms = $(_qty);
            var a = $rooms.val();

            a++;
            $(".subs").prop("disabled", !a);
            $rooms.val(a);
        });
        $(".subs").prop("disabled", !$(".noOfQty").val());

        $('.subs').click(function subst() {

            var _qty = $(this).parent().children(".noOfQty");

            var $rooms = $(_qty);
            var b = $rooms.val();
            if (b >= 1) {
                b--;
                $rooms.val(b);
            }
            else {
                $(".subs").prop("disabled", true);
            }
        });

        $('#filecount').filestyle({
            input: false,
            buttonName: 'btn-default',
            iconName: 'fas fa-image'
        });
    </script>
}