﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{


    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />



}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    User Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
          
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/UserManagement/UsersList">User Management</a>
                <i class="fa fa-circle"></i>
            </li>
         
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-key "></i>
                            <span class="caption-subject primary-txt">Create User</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <form class="form-horizontal" action="#" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body select-width-100">                                  
                                   
                                    <div class="tab-content">
                                        @*<div class="tab-pane active" id="tab1">*@
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-horizontal">
                                                       
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                First Name
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="txtFirstName" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Middle Name</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="txtMiddleName" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                Last Name
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="txtLastName" />
                                                            </div>
                                                        </div><!-- end form-group-->                                                       
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                Email Address
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="txtEmailAddress" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                Mobile Number
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="txtMobileNumber" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                Password
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="password" class="form-control" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">
                                                                Confirm Password
                                                                <span class="required"> * </span>
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <input type="password" class="form-control" />
                                                            </div>
                                                        </div><!-- end form-group-->
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-2">Select File
                                                                
                                                            </label>
                                                            <div class="col-sm-4">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="input-group">
                                                                        <div class="form-control uneditable-input input-fixed" data-trigger="fileinput">
                                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                            <span class="fileinput-filename"> </span>
                                                                        </div>
                                                                        <span class="input-group-addon btn default btn-file">
                                                                            <span class="fileinput-new"> Select file </span>
                                                                            <span class="fileinput-exists"> Change </span>
                                                                            <input type="file" name="...">
                                                                        </span>
                                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div><!-- end form-horizontal -->
                                                </div><!-- end col-sm-12 -->

                                            </div><!-- end row-->

                                        @*</div>*@<!-- UserInfo -->                             

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-sm-12 text-center">
                                      
                                        <a href="javascript:;" class="small-button button-submit">
                                            Submit
                                            <i class="fa fa-check"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- request success-->
<div class="modal fade" id="success" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets1/assets/smily.png" alt="smily" class="img-responsive img-m-auto" />
                <h3 class="font-bold">Congratulations!</h3>
                <p>User has been created</p>
                @*<p class="primary-txt-help">Username and Temprary Password is sent to Registered Email Address</p>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script src="~/assets1/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
<script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

</script>
}


