﻿
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Users List
                    <small>View Users List</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
            <div class="page-toolbar">
                <a class="btn red" href="~/Admin/UserManagement/Create"><i class="fa fa-plus"></i> Create User</a>
               
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/UserManagement/UsersList">User Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Users List</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                       
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-left">
                                <tr>
                                   
                                    <th>Image</th>
                                    <th> User Name </th>
                                    <th> Email </th>
                                    <th> Mobile No </th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Block</th>
                                    <th>View Details</th>
                                </tr>
                                <tr>
                                   
                                    <td class="fit">
                                        <img class="user-pic" src="~/assets1/assets/pages/media/users/avatar4.jpg">
                                    </td>
                                    <td>Sam</td>
                                    <td>prog@creative-sols.com</td>
                                    <td>05034322222</td>
                                    <td>
                                        <a href="~/Admin/UserManagement/Create" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn default"><i class="icon-trash"></i></a>
                                    </td>                                    
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="No" data-off-text="&nbsp;Yes&nbsp;">
                                    </td>
                                    <td>
                                        <a href="~/Admin/UserManagement/UserDetails" class="btn default"><i class="icon-info"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="fit">
                                        <img class="user-pic" src="~/assets1/assets/pages/media/users/avatar5.jpg">
                                    </td>
                                    <td>Rahul</td>
                                    <td>prog1@creative-sols.com</td>
                                    <td>0503432452</td>
                                    <td>
                                        <a href="~/Admin/UserManagement/Create" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn default"><i class="icon-trash"></i> </a>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="No" data-off-text="&nbsp;Yes&nbsp;">
                                    </td>
                                    <td>
                                        <a href="~/Admin/UserManagement/UserDetails" class="btn default"><i class="icon-info"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="fit">
                                        <img class="user-pic" src="~/assets1/assets/pages/media/users/avatar6.jpg">
                                    </td>
                                    <td>Rahul</td>
                                    <td>prog1@creative-sols.com</td>
                                    <td>0503432452</td>
                                    <td>
                                        <a href="~/Admin/UserManagement/Create" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn default"><i class="icon-trash"></i> </a>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="No" data-off-text="&nbsp;Yes&nbsp;">
                                    </td>
                                    <td>
                                        <a href="~/Admin/UserManagement/UserDetails" class="btn default"><i class="icon-info"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="fit">
                                        <img class="user-pic" src="~/assets1/assets/pages/media/users/avatar7.jpg">
                                    </td>
                                    <td>Rahul</td>
                                    <td>prog1@creative-sols.com</td>
                                    <td>0503432452</td>
                                    <td>
                                        <a href="~/Admin/UserManagement/Create" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn default"><i class="icon-trash"></i> </a>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="No" data-off-text="&nbsp;Yes&nbsp;">
                                    </td>
                                    <td>
                                        <a href="~/Admin/UserManagement/UserDetails" class="btn default"><i class="icon-info"></i> </a>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="fit">
                                        <img class="user-pic" src="~/assets1/assets/pages/media/users/avatar8.jpg">
                                    </td>
                                    <td>Rahul</td>
                                    <td>prog1@creative-sols.com</td>
                                    <td>0503432452</td>
                                    <td>
                                        <a href="~/Admin/UserManagement/Create" class="btn default"><i class="icon-pencil"></i> </a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn default"><i class="icon-trash"></i> </a>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="No" data-off-text="&nbsp;Yes&nbsp;">
                                    </td>
                                    <td>
                                        <a href="~/Admin/UserManagement/UserDetails" class="btn default"><i class="icon-info"></i> </a>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- end table-responsive -->
                        <div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate"><ul class="pagination margin-0"><li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
                    </div><!-- end portlet-body -->
                </div><!-- end portlet light bordered-->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->

     
    </div>
</div>

