﻿
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets1/assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}


<!-- BEGIN CONTENT -->

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    User Management
                    <small>View Details</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/UserManagement/UsersList">User Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">User Details</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet bordered">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="~/assets1/assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> John Parson </div>
                            <div class="profile-usertitle-job"> mohammed@gmail.com </div>
                            <div class="profile-usertitle-name"> 0507487251 </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <input type="checkbox" class="make-switch" data-on-text="Unblock" data-off-text="&nbsp;Block&nbsp;">
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#Usersorderhistory" data-toggle="tab">
                                        <i class="icon-user-follow"></i> Users order history
                                    </a>
                                </li>
                                <li>
                                    <a href="#Activeordersofusers" data-toggle="tab">
                                        <i class="icon-user"></i> Active orders of users
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="Usersorderhistory">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-user-follow "></i>
                                                <span class="caption-subject primary-txt">Users order history</span>
                                            </div>
                                           
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover text-center">
                                                            <tr>
                                                                <th>S.No.</th>
                                                                <th>Store Id</th>
                                                                <th>Store Name</th>
                                                                <th>Order Number</th>
                                                                <th>Number of Units</th>
                                                                <th>Rating</th>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>123</td>
                                                                <td>Store 1</td>
                                                                <td>1234567</td>
                                                                <td>100</td>
                                                                <td>5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>123</td>
                                                                <td>Store 2</td>
                                                                <td>1234567</td>
                                                                <td>100</td>
                                                                <td>4</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>123</td>
                                                                <td>Store 3</td>
                                                                <td>1234567</td>
                                                                <td>100</td>
                                                                <td>4</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>123</td>
                                                                <td>Store 4</td>
                                                                <td>1234567</td>
                                                                <td>100</td>
                                                                <td>2</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div><!-- end col-md-12 -->
                                            </div><!-- end row -->
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end AuthorityDetails-->
                        <div class="tab-pane" id="Activeordersofusers">
                            <div class="portlet light borderd">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-user "></i>
                                        <span class="caption-subject primary-txt">Active orders of users</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover text-center">
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Store Id</th>
                                                        <th>Store Name</th>
                                                        <th>Order Number</th>
                                                        <th>Number of Units</th>
                                                        <th>Rating</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>123</td>
                                                        <td>Store 1</td>
                                                        <td>1234567</td>
                                                        <td>100</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>123</td>
                                                        <td>Store 2</td>
                                                        <td>1234567</td>
                                                        <td>100</td>
                                                        <td>4</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>123</td>
                                                        <td>Store 3</td>
                                                        <td>1234567</td>
                                                        <td>100</td>
                                                        <td>5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>123</td>
                                                        <td>Store 4</td>
                                                        <td>1234567</td>
                                                        <td>100</td>
                                                        <td>2</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div><!-- end col-md-12 -->
                                    </div><!-- end row -->
                                </div>
                            </div>

                        </div>
                    </div><!-- end tab-content-->
                </div>
                <!-- END PROFILE CONTENT -->
            </div>

        </div>
    </div>
</div>

