﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Operation Management
                    <small> View Details</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/OperationManagement">Operation Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Operation Details</span>
            </li>
            <a href="~/Areas/Admin/Views/UserManagement/UserDetails.cshtml"></a>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Operation Details</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-sm-12">                              
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#1" data-toggle="tab"> View all active orders</a>
                                    </li>
                                    <li>
                                        <a href="#2" data-toggle="tab"> Total orders completed </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="1">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <tr>

                                                    <th>Customer Name</th>
                                                    <th>Store Name</th>
                                                    <th>Order Number</th>
                                                    <th>Number of Units</th>
                                                    <th>Order Date</th>
                                                    <th>Payment Type</th>
                                                    <th>Payment status</th>
                                                    <th>Shipping status	</th>
                                                    <th>Order Status</th>
                                                    <th> Order total	</th>
                                                    <th>View Details</th>
                                                </tr>
                                                <tr>
                                                    <td>Mohammed</td>
                                                    <td>Store 1</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>
                                                    <td>Accepted</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ahmed</td>
                                                    <td>Store 2</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>
                                                    <td>Packed</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Qureshi</td>
                                                    <td>Store 3</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>
                                                    <td>Dispatched</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Kareem</td>
                                                    <td>Store 4</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>
                                                    <td>Deleverd</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div><!-- end id 1-->
                                    <div class="tab-pane fade" id="2">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <tr>
                                                   
                                                    <th>Customer Name</th>
                                                    <th>Store Name</th>
                                                    <th>Order Number</th>
                                                    <th>Number of Units</th>
                                                    <th>Order Date</th>
                                                    <th>Payment Type</th>                                                 
                                                    <th>Payment status</th>
                                                    <th>Shipping status	</th>
                                                    <th>Order Status</th>
                                                    <th> Order total	</th>                                                   
                                                    <th>View Details</th>
                                                </tr>
                                                <tr>
                                                    <td>Mohammed</td>                                                 
                                                    <td>Store 1</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>    
                                                    <td>Accepted</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ahmed</td>                                                   
                                                    <td>Store 2</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>    
                                                    <td>Packed</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Qureshi</td>                                                   
                                                    <td>Store 3</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>    
                                                    <td>Dispatched</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Kareem</td>                                                    
                                                    <td>Store 4</td>
                                                    <td>1234567</td>
                                                    <td>100</td>
                                                    <td>24-03-2018</td>
                                                    <td>Cash</td>
                                                    <td>Paid</td>
                                                    <td>Shipped</td>    
                                                    <td>Deleverd</td>
                                                    <td>1000</td>
                                                    <td>
                                                        <a href="~/Admin/OperationManagement/OrderDetails" class="btn default"><i class="icon-info"></i> </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div><!-- end id 2 -->
                                </div><!-- end tab-content -->

                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- request success-->
@*<div class="modal fade" id="pricing_daywise" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Duration</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Each Day</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>One Month</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>Six Months</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>One Year</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_daywise-->

<div class="modal fade" id="pricing_user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Users
                                <select>
                                    <option>Select</option>
                                    <option>Hundreds</option>
                                    <option>Thousands</option>
                                </select>
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>10-20</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>20-30</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>30-40</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>40-50</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_user-->

<div class="modal fade" id="pricing_region" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Saudi Arabia</h4>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Region Name
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>East</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>Central</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>West</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>Makkah</td>
                            <td>SAR 5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_region-->*@


@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#region").select2({
            placeholder: "Select Region",
        });

        $(".nationality_list").select2({
            placeholder: "Select Nationality",
        });

        $("#AdvertDays").select2({
            placeholder: "Select Number of Days",
        });
        $("#AdvertUsers").select2({
            placeholder: "Select Number of Users",
        });
        $("#country_list, #Select_country").select2({
            placeholder: "Select Country"
        });
        $("#SelectStore").select2({
            placeholder: "Select Stores"
        });
        $("#VMinDiscount").select2({
            placeholder: "Select Voucher Minimum Discount"
        });
        $("#per_user_usage").select2({
            placeholder: "Select Maximum Usage Per User"
        })
    </script>
}


