﻿
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Operation Management
                    <small>Operation Management Details</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/OperationManagement">Operation Management</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                <a href="~/OrderManagement/Branch">Branch 1</a>
                <i class="fa fa-circle"></i>
            </li>*@
            <li>
                <span class="active">Order Information</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title ">
                        @*<div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Pending Urgent Requests</span>
                        </div>*@
                    </div>
                    <div class="portlet-body form">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <span class="help-block uppercase">Total</span>
                                        <label class="uppercase">45 AED</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="help-block uppercase">Service Type</span>
                                        <label class="uppercase">Shipping</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="help-block uppercase">Item</span>
                                        <label class="uppercase">3</label>
                                    </div>
                                </div><!-- end form-group -->

                            </div><!-- end form-horizontal -->
                        </div><!-- end form-horizontal-->
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <div class="card-product-info no-last-child">
                                    <div class="card-img-prodcut">
                                        <img src="http://via.placeholder.com/120x120" class="img-responsive" alt="" />
                                    </div>
                                    <div class="card-order-info-prodcut">
                                        <h4>Sleeveless Slim Look Top</h4>
                                        <p class="product--by help-block">by Jack &amp; Jones</p>
                                        <p class="product--size help-block">Size: M / Qty: 1 <br /><strong class="">50 SAR</strong></p>
                                    </div>
                                    <div class="card-product-buttons">
                                        @*<button class="accept">Accept</button>
                                        <button class="reject">Reject</button>*@
                                    </div>
                                </div><!-- end card-product-info-->
                                <div class="card-product-info no-last-child">
                                    <div class="card-img-prodcut">
                                        <img src="http://via.placeholder.com/120x120" class="img-responsive" alt="" />
                                    </div>
                                    <div class="card-order-info-prodcut">
                                        <h4>Sleeveless Slim Look Top <small class="pull-right" data-toggle="modal" data-target="#reject__info"></small></h4>
                                        <p class="product--by help-block">by Jack &amp; Jones</p>
                                        <p class="product--size help-block">Size: M / Qty: 1 <br /><strong class="">50 SAR</strong></p>
                                    </div>
                                    <div class="card-product-buttons">
                                        @*<button class="accept">Accept</button>
                                        <button class="reject">Reject</button>*@
                                    </div>
                                </div><!-- end card-product-info-->
                            </div>
                        </div><!-- end row -->
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-left no-border-right">Delivery Date</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">June 30, 11 am</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right">Payment Option</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">Cash</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right"><strong>Total Amount</strong></td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">100 SAR</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right">Discount</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">0.0 SAR</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right">Delivery Charges</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">15 SAR</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right">VAT (5%)</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">5 SAR</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left no-border-right">Net Amount</td>
                                            <td class="no-border"> : </td>
                                            <td class="text-right no-border-left">120 SAR</td>
                                        </tr>
                                    </table>
                                </div>
                                <p class="help-block">
                                    <strong>Note :</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.



                                </p>
                            </div>
                        </div><!-- end row -->
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="uppercase">26<br />June</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Placed on <span class="display-block">Hamzah Kareem</span></label>
                                    </div>
                                </div><!-- end form-group -->
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button class="btn btn-default"><i class="icon-location-pin"></i></button>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="javascript:;" data-toggle="modal" data-target="#stack1">Milkyway Galaxy, 21 Park Avenue Dubai, 56790</a>
                                    </div>
                                </div><!-- end form-group -->
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button class="btn btn-default"><i class="icon-call-in"></i></button>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="tel:+966502139684">+966502139684</a>
                                    </div>
                                </div><!-- end form-group -->
                            </div><!-- end form-body -->
                            <div class="form-actions">
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-4">
                                        @*<button class="red payment-button">Send</button>*@
                                    </div>
                                </div>
                            </div>
                        </div><!-- end form-horizontal-->
                    </div><!-- end portlet body-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div id="stack1" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Branch Location Map</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="loc-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6096.971588552344!2d46.68499257021023!3d24.682865439478736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh!5e0!3m2!1sen!2ssa!4v1521015653125" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reject__info" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Reason for Rejection</h4>
            </div>
            <div class="modal-body ">
                <div class="row form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="8"></textarea>
                                </div>
                            </div><!-- end form-group-->
                        </div><!-- end form-body -->
                        <div class="form-actions">
                            <div class="col-sm-offset-1 col-sm-4">
                                <button class="red payment-button btn-lg">Submit</button>
                            </div>
                        </div>
                    </div><!-- end form-horizontal-->
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end rejec__info -->


@section Scripts{
    <script type="text/javascript">
        $(".accept, .reject").click(function () {
            $(this).toggleClass("active-btn");
        });
    </script>
}














