﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_StoreSubLayout.cshtml";
}

@section Styles{}

<section class="store-sub-categories-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filters-right">
                    <span>
                        <strong>CATEGORIES:</strong> &ensp;
                        <div class="btn-group">
                            <button type="button" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                All <span class="caret"></span>
                            </button>
                            <ul class="delivery-filter dropdown-menu" role="menu">
                                <li><a href="#">Min Delivery Time</a></li>
                                <li><a href="#">Min Order Amount</a></li>
                                <li><a href="#">Min Delivery Charge</a></li>
                                <li><a href="#">Pickup</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Popular</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat1.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning with Tool</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat2.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning without Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat3.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning with Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat4.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning without Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat1.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning with Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat2.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning without Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat3.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning with Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/service-sub-cat4.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cleaning without Tools</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $('.delivery-filter a').on('click', function(){
    	$('.filter-dropdown.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
	})


    </script>
}

