﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{

}

<section class="myorders-banner text-center">
    <h2><strong>MY ORDERS</strong></h2>
    <div class="breadcrumb">
        <a class="breadcrumb-item" href="index.html">Home <i class="fas fa-chevron-right"></i></a>
        <span class="breadcrumb-item active">My Orders</span>
    </div>
</section>

<section class="myorder-tabs mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#pending" data-toggle="tab">PENDING</a></li>
                    <li><a href="#processing" data-toggle="tab">PROCESSING</a></li>
                    <li><a href="#history" data-toggle="tab">HISTORY</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane box-items tab-pending active" id="pending">
                        <div class="pending-items">
                            <h4 class="bullet">Pending</h4>
                            <div class="pending-item-box">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3>Designer Saree</h3>
                                                <h4>Qty: 4 Items</h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order2.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3>Designer Saree</h3>
                                                <h4>Qty: 4 Items</h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row item-box">
                                    <h4 class="text-center">Your order is yet to be accepted by the vendor.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="pending-items">
                            <h4 class="bullet">Pending</h4>
                            <div class="pending-item-box">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <a href="" class="round-btn pull-right">?</a>
                                                <h3>Designer Saree</h3>
                                                <h4 class="pull-left">Qty: 4 Items</h4>
                                                <h4 class="pull-right"><i class="fas fa-times round-btn reject"></i> Rejected </h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order2.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3>Designer Saree</h3>
                                                <h4 class="pull-left">Qty: 4 Items</h4>
                                                <h4 class="pull-right"><i class="fas fa-check round-btn"></i> Accepted </h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row item-box text-center">
                                    <h4>3 out of 4 orders have been accepted</h4>
                                    <h4>Would you like to confirm your order with Cash on Delivery?</h4>

                                    <button type="button" class="btn btn-default">YES</button>
                                    <button type="button" class="btn btn-default">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane box-items tab-processing" id="processing">
                        <div class="pending-items mb-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="bullet pull-left">Pending</h4>
                                    <h4 class="pull-right">Order No: <span class="red-color">123456</span></h4>
                                </div>
                            </div>
                            <div class="pending-item-box">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3>Designer Saree</h3>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row bs-wizard pt-5" style="border-bottom:0;">
                                    <div class="col-xs-3 bs-wizard-step complete">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">PACKED</div>
                                        <div class="bs-wizard-info text-center">12 June</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step complete">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">DEPARTED</div>
                                        <div class="bs-wizard-info text-center">13 June</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step disabled">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">SHIPPED</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step disabled">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">DELIVERED</div>
                                    </div>
                                </div>
                                <div class="row item-box">
                                    <div class="col-sm-12 text-center">
                                        <button type="button" class="btn">CANCELLATION</button>
                                        <button type="button" class="btn btn-default">CONFIRAM PAYMENT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pending-items">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="bullet pull-left">Pending</h4>
                                    <h4 class="pull-right">Order No: <span class="red-color">123456</span></h4>
                                </div>
                            </div>
                            <div class="pending-item-box">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3>Designer Saree</h3>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row bs-wizard pt-5" style="border-bottom:0;">
                                    <div class="col-xs-3 bs-wizard-step complete">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">PACKED</div>
                                        <div class="bs-wizard-info text-center">12 June</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step complete">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">DEPARTED</div>
                                        <div class="bs-wizard-info text-center">13 June</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step disabled">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">SHIPPED</div>
                                    </div>

                                    <div class="col-xs-3 bs-wizard-step disabled">
                                        <div class="progress"><div class="progress-bar"></div></div>
                                        <a href="#" class="bs-wizard-dot"></a>
                                        <div class="bs-wizard-info text-center grey-color">DELIVERED</div>
                                    </div>
                                </div>
                                <div class="row item-box">
                                    <div class="col-sm-12 text-center">
                                        <button type="button" class="btn">CANCELLATION</button>
                                        <button type="button" class="btn btn-default">CONFIRAM PAYMENT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane box-items tab-history" id="history">
                        <div class="pending-items">
                            <div class="pending-item-box mb-2">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3 class="grey-color">Designer Saree</h3>
                                                <h4><strong>Deliverd</strong> </h4>
                                                <h4 class="grey-color pull-left">12 June 2018</h4>
                                                <button type="button" class="btn btn-default pull-right">Rate</button>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pending-item-box mb-2">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3 class="grey-color">Designer Saree</h3>
                                                <h4><strong>Canceled</strong></h4>
                                                <h4 class="grey-color">12 June 2018</h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pending-item-box mb-2">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3 class="grey-color">Designer Saree</h3>
                                                <h4><strong>Rejected</strong></h4>
                                                <h4 class="grey-color">12 June 2018</h4>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pending-item-box mb-2">
                                <div class="row d-flex">
                                    <div class="col-sm-11 col-xs-10">
                                        <div class="row item-box">
                                            <div class="col-sm-3 col-xs-4">
                                                <img src="~/web-assets/ar/images/pending-order1.jpg" width="100%">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <h3 class="grey-color">Designer Saree</h3>
                                                <h4><strong>Completed</strong></h4>
                                                <h4 class="grey-color pull-left">12 June 2018</h4>
                                                <button type="button" class="btn btn-sm btn-default pull-right">Rate</button>
                                            </div>
                                        </div>
                                        <hr class="nomargin">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a href="">
                                            <i class="fas fa-caret-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/web-assets/ar/js/slick.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1367,
                    settings: {
                        slidesToShow: 5
                    }
                }, {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });
    </script>
}

