﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_StoreSubLayout.cshtml";
}

@section Styles {

}
<section class="store-sub-categories-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filters-right">
                    <span>
                        <strong>CATEGORIES:</strong> &ensp;
                        <div class="btn-group">
                            <button type="button" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                All <span class="caret"></span>
                            </button>
                            <ul class="delivery-filter dropdown-menu" role="menu">
                                <li><a href="#">Min Delivery Time</a></li>
                                <li><a href="#">Min Order Amount</a></li>
                                <li><a href="#">Min Delivery Charge</a></li>
                                <li><a href="#">Pickup</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Popular</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-1.png" width="100%">
                    <div class="carousel-caption">
                        <img src="~/web-assets/ar/images/offer-tag-rtl.png">
                    </div>
                    <div class="carousel-caption">
                        <strong>OFFERS</strong>
                    </div>
                    <div class="caption text-center">
                        <h4>Flower Bouquet</h4>
                        <h5>25 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-2.png" width="100%">
                    <div class="caption text-center">
                        <h4>Fresh Seeds</h4>
                        <h5>16 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-3.png" width="100%">
                    <div class="caption text-center">
                        <h4>Rare Plants</h4>
                        <h5>34 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-4.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cactus Plant</h4>
                        <h5>8 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-5.png" width="100%">
                    <div class="caption text-center">
                        <h4>Flower Bouquet</h4>
                        <h5>25 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-6.png" width="100%">
                    <div class="caption text-center">
                        <h4>Fresh Seeds</h4>
                        <h5>16 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-7.png" width="100%">
                    <div class="caption text-center">
                        <h4>Rare Plants</h4>
                        <h5>34 Products</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 fwidth">
                <div class="thumbnail">
                    <img src="~/web-assets/ar/images/storesubcategories-8.png" width="100%">
                    <div class="caption text-center">
                        <h4>Cactus Plant</h4>
                        <h5>8 Products</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        $('.delivery-filter a').on('click', function(){
    	    $('.filter-dropdown.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
	    })
    </script>
}

