﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{
<link href="~/assets1/assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    }
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Search Stores by Category
                </h1>
            </div>
            <!-- END PAGE TITLE -->          
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                @*<a href="~/StoreSearch"  class="active">Search Stores by Category</a>
                <i class="fa fa-circle"></i>*@
                <span class="active">Search Stores by Category</span>
            </li>
            @*<li>
                <span class="active">Branch 1</span>
            </li>*@
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">

                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#1" data-toggle="tab"> Active </a>
                            </li>
                            <li>
                                <a href="#2" data-toggle="tab"> In Active </a>
                            </li>
                            <li>
                                <a href="#3" data-toggle="tab"> Terminated </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="1">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Category</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Grocery
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Electronic
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox3" value="option3"> Flower
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox4" value="option4"> Water
                                            <span></span>
                                        </label>                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- BEGIN PAGE BASE CONTENT -->
                                    <div class="search-page search-content-1">
                                        <div class="search-bar">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue uppercase bold" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <p class="search-desc clearfix">  </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="search-container bordered">
                                                    <ul>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="www.google.com" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="search-pagination">
                                                        <ul class="pagination">
                                                            <li class="page-active">
                                                                <a href="javascriptt:;"> 1 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 2 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 3 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 4 </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PAGE BASE CONTENT -->
                                </div>
                                </div><!-- end #1-->
                            <div class="tab-pane fade" id="2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Category</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Grocery
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Electronic
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox3" value="option3"> Flower
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox4" value="option4"> Water
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- BEGIN PAGE BASE CONTENT -->
                                    <div class="search-page search-content-1">
                                        <div class="search-bar">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue uppercase bold" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <p class="search-desc clearfix">  </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="search-container bordered">
                                                    <ul>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;" target="_blank">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="search-pagination">
                                                        <ul class="pagination">
                                                            <li class="page-active">
                                                                <a href="javascriptt:;"> 1 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 2 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 3 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 4 </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PAGE BASE CONTENT -->
                                </div>
                            </div><!-- end #2-->
                            <div class="tab-pane fade" id="3">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Category</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Grocery
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Electronic
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox3" value="option3"> Flower
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox4" value="option4"> Water
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- BEGIN PAGE BASE CONTENT -->
                                    <div class="search-page search-content-1">
                                        <div class="search-bar">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue uppercase bold" type="button">Search</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <p class="search-desc clearfix">  </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="search-container bordered">
                                                    <ul>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                        <li class="search-item clearfix">
                                                            <div class="search-content">
                                                                <h2 class="search-title">
                                                                    <a href="javascript:;">Amara SuperMarket</a>
                                                                </h2>
                                                                <p class="search-desc"> C.R.N:10145789<br />Authorized:Ahmed Omer </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="search-pagination">
                                                        <ul class="pagination">
                                                            <li class="page-active">
                                                                <a href="javascriptt:;"> 1 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 2 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 3 </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascriptt:;"> 4 </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PAGE BASE CONTENT -->
                                </div>
                            </div><!-- end #3-->
                        </div><!-- end tab-content-->
                    </div><!-- end portlet body-->
                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT -->
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>   
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>  
    <script src="~/assets1/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/search.min.js" type="text/javascript"></script>
    <script type="text/javascript">


        var handleCounterup = function () {
            if (!$().counterUp) {
                return;
            }

            $("[data-counter='counterup']").counterUp({
                delay: 10,
                time: 1000
            });
        };


    
    </script>
}




