body {
  overflow-x: hidden; }

.bg-light {
  background-color: #f2f4f9 !important; }

.pb_icon-gradient:before {
    background: #e78179;
    background: -moz-linear-gradient(45deg, #424242 0%, #e78179 100%);
    background: -webkit-linear-gradient(45deg, #424242 0%, #e78179 100%);
    background: -o-linear-gradient(45deg, #424242 0%, #e78179 100%);
    background: linear-gradient(45deg, #424242 0%, #e78179 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pb_slant-light,
.pb_slant-white {
  position: relative; }
  .pb_slant-light:after,
  .pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #f2f4f9;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10; }
  .pb_slant-light.pb_slant-reverse:after,
  .pb_slant-white.pb_slant-reverse:after {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    left: -100px;
    bottom: -140px; }

.pb_slant-white:after {
  background-color: #fff; }

.pb_section {
  padding: 10em 0; }

.pb_cover_v3 a, .pb_xl_py_cover a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent; }
  .pb_cover_v3 a:hover, .pb_xl_py_cover a:hover {
    color: white;
    border-bottom: 2px solid white; }

.pb_cover_v3 .btn, .pb_xl_py_cover .btn {
  color: white; }
.form-control.reverse:focus, .form-control.reverse:active {
    background: none;
    border-color: #424242 !important;
}
.btn-shadow-blue {
    -webkit-box-shadow: 0px 15px 28px -5px rgba(35, 35, 35, 0.2);
    -moz-box-shadow: 0px 15px 28px -5px rgba(35, 35, 35, 0.2);
    box-shadow: 0px 15px 28px -5px rgba(35, 35, 35, 0.2);
}
.pb_navbar.scrolled.pb_scrolled-light ul li a.active {
    color: #e78179 !important;
}
.pb_navbar.scrolled.pb_scrolled-light ul li.cta-btn > a > span {
    border: none;
    background: #424242;
    color: #fff;
}
.no-box-shadow{
    box-shadow: none !important
}
.cursor{
    cursor: pointer
}
.margin-top-80{
    margin-top: 80px;
}
/* Customize the label (the container) */
.container-check {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-check + .container-check{
    margin-left: 15px;
}
/* Hide the browser's default radio button */
.container-check input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #e78179 ;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-check .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.pb_form_v1{
    padding-top: 20px;
}