﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
}
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Settlement
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Settlement History</span>
            </li>

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Settlement Amount History
                        </div>
                    </div>

                    <div class="portlet-body">
                        <form class="Settlement-form">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Select Vendor</label>
                                    <div class="col-md-3">
                                        <select class="form-control select2" id="SelectVendor1" required>
                                            <option value=""></option>
                                            <option value="1">Vendor 1</option>
                                            <option value="2">Vendor 2</option>
                                            <option value="3">Vendor 3</option>
                                            <option value="4">Vendor 4</option>
                                            <option value="5">Vendor 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">From Month</label>
                                    <div class="col-md-3">
                                        <div class="input-group date date-picker" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                            <input type="text" class="form-control" readonly required>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end form-group-->
                                <div class="form-group">
                                    <label class="control-label col-md-2">To Month</label>
                                    <div class="col-md-3">
                                        <div class="input-group date date-picker" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                            <input type="text" class="form-control" readonly required>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end form-group-->
                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-2">
                                        <a href="#" id="Show-Details" class="btn red">Submit</a>
                                    </div>
                                </div>
                                <!-- end form-group -->
                            </div>
                        </form>

                        <div class="Settlement-Details">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-header-fixed" id="sample_2">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Date</th>
                                            <th> Store Name </th>
                                            <th>Amount Settled</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>1/1/2019</td>
                                            <td> Groccery </td>
                                            <td>300</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate"><ul class="pagination margin-0"><li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>

    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");
        $("#SelectVendor").select2({
            placeholder: "Select Vendor"
        });
        $("#SelectVendor1").select2({
            placeholder: "Select Vendor"
        });
    </script>
}


