﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create New Store | Checkclick Admin Panel ";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Create New Store
                    <small>View, Edit Stores</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Home">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create Store</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-pencil "></i>
                            <span class="caption-subject primary-txt">Create Store</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" action="#" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body select-width-100">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Business Information
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab" class="step">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Required Attachments
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab3" data-toggle="tab" class="step active">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Status
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab4" data-toggle="tab" class="step">
                                                <span class="number"> 4 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Create Store
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                        <div class="progress-bar progress-bar-success"> </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="alert alert-danger display-none">
                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                        </div>
                                        <div class="alert alert-success display-none">
                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                        </div>
                                        <div class="tab-pane active" id="tab1">
                                            <h3 class="block">Provide your business details</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Choose your Category
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="mt-radio-inline">
                                                        <label class="mt-radio">
                                                            <input type="radio" name="maincategory" id="optionsRadios1" value="option1" checked> Products
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio">
                                                            <input type="radio" name="maincategory" id="optionsRadios2" value="option2"> Services
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Select Category
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <select name="main_category" id="category_list" class="form-control select2-multiple" multiple="multiple">
                                                        <option value=""></option>
                                                        <option value="1">Electronics</option>
                                                        <option value="2">Perfumes</option>
                                                        <option value="3">Furnishing and Decor</option>
                                                        <option value="4">Women Fashion and Accessories</option>
                                                        <option value="5">Men Fashion and Accessories</option>
                                                        <option value="6">Food</option>
                                                        <option value="7">Baby Fashion</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Entity Nationality
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <select name="country" id="country_list" class="form-control country_list">
                                                        <option value=""></option>
                                                        <option value="SA">Saudi</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Entity's Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="EntityName" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Commercial Registration Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="CRNumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    VAT Certificate Number

                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="CRNumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Authorized Person
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="AuthorizedPerson" placeholder="Mohammed Khaled" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Authorized Personnel ID
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="AuthorizedID" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Entity's Email Address
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="EntityEmail" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Entity's Contact Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">SA +966</button>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="form-section">Entity's Location</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    City
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <label class="sr-only" for="exampleInputAmount">Select City</label>
                                                    <div class="input-group select2-bootstrap-append select2-bootstrap-prepend input-large">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-location-arrow"></i>
                                                        </div>
                                                        <select class="form-control select2" id="selectcity">
                                                            <option value=""></option>
                                                            <option value="RH">Riyadh</option>
                                                            <option value="RH">Jeddah</option>
                                                            <option value="RH">Dammam</option>
                                                            <option value="RH">Makkah</option>
                                                            <option value="RH">Madina</option>
                                                            <option value="RH">Yanbu</option>
                                                            <option value="RH">Al Kharj</option>
                                                            <option value="RH">Asir</option>
                                                            <option value="RH">Al Qassim</option>
                                                            <option value="RH">Al Khobar</option>
                                                            <option value="RH">Jizan</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    District
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="District" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Zip Code
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ZipCode" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Street Name / Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="BuildingNumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Building Name / Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ZipCode" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Floor Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="FloorNo" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Apartment Number / Office Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ApartNumber" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Address Type
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="ApartType">
                                                        <option></option>
                                                        <option>Office</option>
                                                        <option>Home</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- end business information -->
                                        <div class="tab-pane" id="tab2">
                                            <h3 class="block">Provide your valid documents</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Copy of Valid register for the entity
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group input-large">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Copy of Valid VAT Certificate
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group input-large">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Copy of authorized personnel ID
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group input-large">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-8 col-sm-offset-4">
                                                    <a href="javascript:;" class="primary-txt">
                                                        Download authorization letter form <i class="fa fa-download"></i>
                                                    </a>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Copy of authorization letter with stamp
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group input-large">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox21" value="option1">
                                                            I agree to the Terms and conditions.
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end required documents -->
                                        <!-- maintain history if the store gets rejected -->
                                        <div class="tab-pane" id="tab3">
                                            <h3 class="block">Request status for submit applications</h3>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-light">
                                                    <tr>
                                                        <th>Category Name</th>
                                                        <th>Placed on</th>
                                                        <th>Status</th>

                                                        <th>Actions</th>
                                                    </tr>
                                                    <!-- the tr class should match the results
                                                    id the results is rejected, then apply rejected-border-left to the tr if it's approved apply success-border-left to tr if pending apply pending-border-left to the tr
                                                    -->
                                                    <tr>
                                                        <td>Beauty Service</td>
                                                        <td>13/07/2018</td>
                                                        <td>

                                                            <span class="badge badge-warning bg-pending"><i class="fa fa-clock-o"></i> Pending</span>
                                                        </td>

                                                        <td colspan="2">NA</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div><!-- end request status -->
                                        <div class="tab-pane" id="tab4">
                                            <h3 class="block">Requests</h3>
                                            <!-- this row for showing total requests -->
                                            <!-- start store name-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4"><strong>Category</strong></label>
                                                <label class="control-label col-sm-4 text-left">Grocery</label>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Name in English</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="StoreNameEnglish" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Name in Arabic</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="StoreNameArabic" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Select Vendor Panel Color</label>
                                                <div class="col-sm-8">
                                                    <div class="round check-12">
                                                        <input type="checkbox" id="checkbox" />
                                                        <label for="checkbox"></label>
                                                    </div>
                                                    <div class="round check-1">
                                                        <input type="checkbox" id="checkbox" />
                                                        <label for="checkbox"></label>
                                                    </div>
                                                    <div class="round check-2">
                                                        <input type="checkbox" id="checkbox2" />
                                                        <label for="checkbox2"></label>
                                                    </div>
                                                    <div class="round check-3">
                                                        <input type="checkbox" id="checkbox3" />
                                                        <label for="checkbox3"></label>
                                                    </div>
                                                    <div class="round check-4">
                                                        <input type="checkbox" id="checkbox4" />
                                                        <label for="checkbox4"></label>
                                                    </div>
                                                    <div class="round check-5">
                                                        <input type="checkbox" id="checkbox5" />
                                                        <label for="checkbox5"></label>
                                                    </div><br />
                                                    <div class="round check-6">
                                                        <input type="checkbox" id="checkbox6" />
                                                        <label for="checkbox6"></label>
                                                    </div>
                                                    <div class="round check-7">
                                                        <input type="checkbox" id="checkbox7" />
                                                        <label for="checkbox7"></label>
                                                    </div>
                                                    <div class="round check-8">
                                                        <input type="checkbox" id="checkbox8" />
                                                        <label for="checkbox8"></label>
                                                    </div>
                                                    <div class="round check-9">
                                                        <input type="checkbox" id="checkbox9" />
                                                        <label for="checkbox9"></label>
                                                    </div>
                                                    <div class="round check-10">
                                                        <input type="checkbox" id="checkbox10" />
                                                        <label for="checkbox10"></label>
                                                    </div>
                                                    <div class="round check-11">
                                                        <input type="checkbox" id="checkbox11" />
                                                        <label for="checkbox11"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end store name-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <a href="javascript:;" class="small-button button-previous">
                                                <i class="fa fa-angle-left"></i> Back
                                            </a>
                                            <a href="javascript:;" class="small-button button-next">
                                                Continue
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <a href="javascript:;" class="small-button button-submit">
                                                Finish
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <a href="javascript:;" class="small-button" data-target="#basic" data-toggle="modal">2nd Step Complete</a>
                                            <a href="javascript:;" class="small-button" data-target="#success" data-toggle="modal">3rd Success</a>
                                            <a href="javascript:;" class="small-button" data-target="#successStore" data-toggle="modal">4th Success</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end portlet-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<!-- modal confirm request -->
<div class="modal fade" id="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets1/assets/store-icon-grey.png" alt="store icon" class="img-responsive img-m-auto" />
                <h3>Create Store request has been sent successfully.</h3>
                <p class="txt-orange">Wait for approval before proceeding further.</p>
            </div>
        </div>
    </div>
</div>

<!-- request success-->
<div class="modal fade" id="success" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets1/assets/smily.png" alt="smily" class="img-responsive img-m-auto" />
                <h3 class="font-bold">Congratulations!</h3>
                <p>Your request has been approved.</p>
                <p class="primary-txt-help">Go back to Request to finish the last step.</p>
                <a href="javascript:;" class="small-button">Requests</a>
            </div>
        </div>
    </div>
</div>

<!-- request success branch created-->
<div class="modal fade" id="successStore" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets1/assets/store-icon.png" alt="store icon" class="img-responsive img-m-auto" />
                <p>Your store has been created.</p>
                <p class="primary-txt-help">Go to Branch Management to proceed with creating the store.</p>
                <a href="~/BranchManagement" class="small-button">Branch Management</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script src="~/assets1/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");
        $("#selectcity").select2({
            placeholder: "Select City",
        });
        $(".country_list").select2({
            placeholder: "Select Country",
        });
        $("#category_list").select2({
            placeholder: "Select Category",
        });
        $("#ApartType").select2({
            placeholder: "Select Apartment Type",
        });
    </script>
}
