﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Branch | Services | Branch Management | Checkclick Super Admin Panel";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/pages/css/pricing.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Branch Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create Branch</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-organization "></i>
                            <span class="caption-subject primary-txt">Create Branch -  Services</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-md-12 margin-bottom-15">
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success" style="width: 25%;"> </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#StoreInfo" data-toggle="tab"> Store Info</a>
                            </li>
                            <li>
                                <a href="#StoreLocation" data-toggle="tab"> Location </a>
                            </li>
                            <li>
                                <a href="#StoreDescription" data-toggle="tab"> Description </a>
                            </li>
                            <li>
                                <a href="#PaymentMethod" data-toggle="tab"> Payment Method </a>
                            </li>
                            <li>
                                <a href="#CommunicationInfo" data-toggle="tab"> Communication </a>
                            </li>
                            <li>
                                <a href="#TermsAndCondition" data-toggle="tab"> T &amp; C </a>
                            </li>
                            <li>
                                <a href="#StoreDesign" data-toggle="tab"> Design </a>
                            </li>
                            <li>
                                <a href="#Payment" data-toggle="tab"> Payment </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="StoreInfo">
                                <div class="row">
                                    <div class="col-sm-12 form">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Store Information</h3>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Store Name in English</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="StoreNameEN" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Store Name in Arabic</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="StoreNameAR" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Opening Time</label>
                                                <div class="col-sm-4">
                                                    <div class="input-icon">
                                                        <i class="fa fa-clock-o"></i>
                                                        <input type="text" class="form-control timepicker timepicker-default">
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Closing Time</label>
                                                <div class="col-sm-4">
                                                    <div class="input-icon">
                                                        <i class="fa fa-clock-o"></i>
                                                        <input type="text" class="form-control timepicker timepicker-default">
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Open 24 Hours
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-actions">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save &amp; Continue</button>
                                                </div>
                                            </div>
                                        </div><!-- end form-horizontal -->
                                    </div><!-- end col-sm-12 -->

                                </div><!-- end row-->
                            </div><!-- StoreInfo -->
                            <div class="tab-pane fade" id="StoreLocation">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Store Location</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Country
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <div class="input-group select2-bootstrap-append select2-bootstrap-prepend input-large">
                                                        <div class="input-group-addon ">
                                                            <i class="fa fa-location-arrow"></i>
                                                        </div>
                                                        <select name="country" id="country_list" class="form-control country_list">
                                                            <option value=""></option>
                                                            <option value="SA">Saudi Arabia</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    City
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="selectcity">
                                                        <option value=""></option>
                                                        <option value="RH">Riyadh</option>
                                                        <option value="RH">Jeddah</option>
                                                        <option value="RH">Dammam</option>
                                                        <option value="RH">Makkah</option>
                                                        <option value="RH">Madina</option>
                                                        <option value="RH">Yanbu</option>
                                                        <option value="RH">Al Kharj</option>
                                                        <option value="RH">Asir</option>
                                                        <option value="RH">Al Qassim</option>
                                                        <option value="RH">Al Khobar</option>
                                                        <option value="RH">Jizan</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    District
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="District" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Zip Code
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ZipCode" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Street Name / Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="BuildingNumber" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Building Name / Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ZipCode" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Floor Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="FloorNo" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Apartment Number / Office Number
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="ApartNumber" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Address Type
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="ApartType">
                                                        <option></option>
                                                        <option>Office</option>
                                                        <option>Home</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-actions">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save &amp; Continue</button>
                                                </div>
                                            </div><!-- end form-group-->
                                        </div><!-- end form-horizontal -->
                                    </div><!-- end col-sm-12 -->
                                </div><!-- end row-->
                            </div>
                            <div class="tab-pane fade" id="StoreDescription">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Store Description</h3>
                                            <div class="form-group border-bottom">
                                                <label class="control-label col-sm-4">Business Since</label>
                                                <div class="col-sm-4">
                                                    <input class="form-control form-control-inline date-picker" size="16" type="text" value="" />
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">In Store Service</label>
                                                <div class="col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Yes
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox2" value="option1"> No
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Minimum Booking Time</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="MinimumBookingTime">
                                                        <option></option>
                                                        <option value="1">In Days</option>
                                                        <option value="2">In Hours</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group border-bottom">
                                                <div class="col-sm-offset-4 col-sm-4">
                                                    <select class="form-control select2" id="BookingTime">
                                                        <option></option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group ">
                                                <label class="col-sm-4 control-label">Home Services</label>
                                                <div class="col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox3" value="option1" checked> Yes
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox4" value="option1"> No
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Minimum Booking Time</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="MinimumBookingTimeHome">
                                                        <option></option>
                                                        <option value="1">In Days</option>
                                                        <option value="2">In Hours</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-4">
                                                    <select class="form-control select2" id="BookingTimeHome">
                                                        <option></option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Minimum Service Order</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div><!-- end form-group -->

                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Transportation Charge</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="TransportCharge">
                                                        <option></option>
                                                        <option value="1">0</option>
                                                        <option value="2">5 SAR</option>
                                                        <option value="3">10 SAR</option>
                                                        <option value="4">20 SAR</option>
                                                        <option value="5">25 SAR</option>
                                                        <option value="6">50 SAR</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-actions">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save &amp; Continue</button>
                                                </div>
                                            </div><!-- end form-group-->
                                        </div><!-- end form-horizontal-->
                                    </div><!-- end col-sm-12 -->
                                </div><!-- end row -->
                            </div><!-- StoreDescription -->
                            <div class="tab-pane fade" id="PaymentMethod">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Payment Method</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Select Country</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="PaymentCountry">
                                                        <option></option>
                                                        <option value="1">Saudi Arabia</option>
                                                        <option value="2">UAE</option>
                                                        <option value="3">Oman</option>
                                                        <option value="4">Qatar</option>
                                                        <option value="5">Kuwait</option>
                                                        <option value="6">Bahrain</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Select City</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="SelectCityPayment">
                                                        <option></option>
                                                        <option value="1">Riyadh</option>
                                                        <option value="2">Jeddah</option>
                                                        <option value="3">Dammam</option>
                                                        <option value="4">Makkah</option>
                                                        <option value="5">Madina</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Cash</label>
                                                <div class="col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox5" value="option1"> &nbsp;
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Credit Card</label>
                                                <div class="col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox6" value="option1"> &nbsp;
                                                            <span></span>
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox6" value="option1"> Pay Now
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox7" value="option1"> Pay Later
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Debit Card</label>
                                                <div class="col-sm-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox9" value="option1"> &nbsp;
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox9" value="option1"> Pay Now
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" id="inlineCheckbox10" value="option1"> Pay Later
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <hr />
                                            <div class="form-group">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save</button>
                                                </div>
                                            </div>
                                        </div><!-- end form-horizontal -->
                                    </div><!-- end col-sm-12 -->
                                </div><!-- end row -->
                                <div class="row border--top--portlet--effect">
                                    <div class="col-sm-12">
                                        <div class="table-responsive t-c-h ">
                                            <table class="table table-hover table-bordered text-center">
                                                <tr>
                                                    <th rowspan="2">Country Name</th>
                                                    <th rowspan="2">City Name</th>
                                                    <th rowspan="2">Cash</th>
                                                    <th colspan="2">Credit Card</th>
                                                    <th colspan="2">Debit Card</th>
                                                    <th colspan="2" rowspan="2">Actions</th>
                                                </tr>
                                                <tr>
                                                    <th>Pay Now</th>
                                                    <th>Pay Later</th>
                                                    <th>Pay Now</th>
                                                    <th>Pay Later</th>
                                                </tr>
                                                <tr>
                                                    <td>Saudi Arabia</td>
                                                    <td>Riyadh</td>
                                                    <td>Available</td>
                                                    <td>Available</td>
                                                    <td>Available</td>
                                                    <td>Available</td>
                                                    <td>Available</td>
                                                    <td>
                                                        <a href="/CreateProduct" class="btn default"><i class="icon-pencil"></i></a>
                                                        <a href="/CreateProduct" class="btn red"><i class="icon-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div><!-- end table-responsive-->
                                    </div>
                                </div><!-- end row -->

                                <div class="row">
                                    <div class="form-actions">
                                        <div class="col-sm-12 text-center">
                                            <button class="small-button">Continue</button>
                                        </div>
                                    </div><!-- end form-action-->
                                </div>
                            </div><!-- end payment method -->


                            <div class="tab-pane fade" id="CommunicationInfo">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Communication Information</h3>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">About Store in English</label>
                                                <div class="col-sm-4">
                                                    <textarea type="text" class="form-control" name="AboutStoreEN" rows="5" cols="50"></textarea>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">About Store in Arabic</label>
                                                <div class="col-sm-4">
                                                    <textarea type="text" class="form-control" name="AboutStoreAR" rows="5" cols="50"></textarea>
                                                </div>
                                            </div><!-- end form-group-->

                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Social Medial Links</label>
                                                <div class="col-sm-4 input-group-width">
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-facebook"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-twitter"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-linkedin"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-instagram"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-snapchat"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-youtube"></i>
                                                        </span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Certificate of Trust</label>
                                                <div class="col-sm-4">

                                                    <div class="input-group margin-bottom-10">
                                                        <span class="input-group-addon">
                                                            <img src="~/assets1/assets/maroof-icon.png" class="icon-maroof" />
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Maroof Link">
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Information</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            SA +966
                                                        </span>
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button class="btn red" type="button">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>
                                                    </div><!-- end input-group -->
                                                    <div class="input-group margin-top-10">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope-o"></i>
                                                        </span>
                                                        <input type="text" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button class="btn red" type="button">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                        </div><!-- end form-horizontal -->
                                    </div><!-- end col-sm-6 -->

                                </div><!-- end row -->
                                <div class="row">
                                    <div class="form-actions">
                                        <div class="col-sm-12 text-center">
                                            <button class="small-button">Save &amp; Continue</button>
                                        </div>
                                    </div><!-- end form-group-->
                                </div><!-- end row -->
                            </div><!-- tab-pane Communication Info -->
                            <div class="tab-pane fade" id="TermsAndCondition">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Terms &amp; Conditions</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">English</label>
                                                <div class="col-sm-4">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                                <label class="control-label col-sm-2">Arabic</label>
                                                <div class="col-sm-4">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div><!-- end form-group -->
                                            <h3 class="form-section">Return Policy</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">English</label>
                                                <div class="col-sm-4">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                                <label class="control-label col-sm-2">Arabic</label>
                                                <div class="col-sm-4">
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div><!-- end form-group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-actions">
                                        <div class="col-sm-12 text-center">
                                            <button class="small-button">Save &amp; Continue</button>
                                        </div>
                                    </div><!-- end form-group-->
                                </div><!-- end row -->
                            </div><!-- end TermsAndCondition -->
                            <div class="tab-pane fade" id="StoreDesign">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="form-section">Upload Store Images</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Background Image</label>
                                                <div class="col-sm-4">
                                                    <form action="~/assets1/assets/global/plugins/dropzone/upload.php" class="dropzone dropzone-file-area" id="my-dropzone">
                                                        <h3 class="sbold">Drop files here or click to upload</h3>

                                                    </form>

                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Store Logo Image</label>
                                                <div class="col-sm-6">
                                                    <div class="fileinput fileinput-new input-circle" data-provides="fileinput">
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"> </div>
                                                        <div class="display-inline-with-margin-left">
                                                            <span class="btn red btn-outline btn-file">
                                                                <span class="fileinput-new"> Select image </span>
                                                                <span class="fileinput-exists"> <i class="icon-pencil"></i> </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> <i class="icon-trash"></i> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Select Store Color</label>
                                                <div class="col-sm-8">
                                                    <div class="round check-12">
                                                        <input type="checkbox" id="checkbox" />
                                                        <label for="checkbox"></label>
                                                    </div>
                                                    <div class="round check-1">
                                                        <input type="checkbox" id="checkbox" />
                                                        <label for="checkbox"></label>
                                                    </div>
                                                    <div class="round check-2">
                                                        <input type="checkbox" id="checkbox2" />
                                                        <label for="checkbox2"></label>
                                                    </div>
                                                    <div class="round check-3">
                                                        <input type="checkbox" id="checkbox3" />
                                                        <label for="checkbox3"></label>
                                                    </div>
                                                    <div class="round check-4">
                                                        <input type="checkbox" id="checkbox4" />
                                                        <label for="checkbox4"></label>
                                                    </div>
                                                    <div class="round check-5">
                                                        <input type="checkbox" id="checkbox5" />
                                                        <label for="checkbox5"></label>
                                                    </div><br />
                                                    <div class="round check-6">
                                                        <input type="checkbox" id="checkbox6" />
                                                        <label for="checkbox6"></label>
                                                    </div>
                                                    <div class="round check-7">
                                                        <input type="checkbox" id="checkbox7" />
                                                        <label for="checkbox7"></label>
                                                    </div>
                                                    <div class="round check-8">
                                                        <input type="checkbox" id="checkbox8" />
                                                        <label for="checkbox8"></label>
                                                    </div>
                                                    <div class="round check-9">
                                                        <input type="checkbox" id="checkbox9" />
                                                        <label for="checkbox9"></label>
                                                    </div>
                                                    <div class="round check-10">
                                                        <input type="checkbox" id="checkbox10" />
                                                        <label for="checkbox10"></label>
                                                    </div>
                                                    <div class="round check-11">
                                                        <input type="checkbox" id="checkbox11" />
                                                        <label for="checkbox11"></label>
                                                    </div>
                                                </div>
                                            </div><br /><br />
                                        </div><!-- end form-horizontal-->
                                    </div><!-- end col-sm-12 -->
                                </div><!-- end row -->
                                <div class="row border--top--portlet--effect">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Add Main Category</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Main Category in English</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Main Category in Arabic</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Upload Image</label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save</button>
                                                </div>
                                            </div><!-- end form-group-->
                                        </div><!-- end form-horizontal -->
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center">
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Category English</th>
                                                    <th>Category Arabic</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="http://via.placeholder.com/80x80" class="max-w-100" alt="img" />
                                                    </td>
                                                    <td>ABCD</td>
                                                    <td>ABCD</td>
                                                    <td>
                                                        <a href="/CreateProduct" class="btn default"><i class="icon-pencil"></i></a>
                                                        <a href="/CreateProduct" class="btn red"><i class="icon-trash"></i></a>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>                                                                  <div class="row border--top--portlet--effect">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h3 class="form-section">Add Sub Category</h3>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Select Category</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control select2" id="selectCategory">
                                                        <option></option>
                                                        <option value="1">Category 1</option>
                                                        <option value="2">Category 2</option>
                                                        <option value="3">Category 3</option>
                                                        <option value="4">Category 4</option>
                                                        <option value="5">Category 5</option>
                                                        <option value="6">Category 6</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Sub Category in English</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Sub Category in Arabic</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Upload Image</label>
                                                <div class="col-sm-4">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="input-group">
                                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                <span class="fileinput-filename"> </span>
                                                            </div>
                                                            <span class="input-group-addon btn default btn-file">
                                                                <span class="fileinput-new"> Select file </span>
                                                                <span class="fileinput-exists"> Change </span>
                                                                <input type="file" name="...">
                                                            </span>
                                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <div class="col-sm-12 text-center">
                                                    <button class="small-button">Save</button>
                                                </div>
                                            </div><!-- end form-group-->
                                        </div><!-- end form-horizontal -->
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-center">
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Main Category</th>
                                                    <th>Sub Category English</th>
                                                    <th>Sub Category Arabic</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="http://via.placeholder.com/80x80" class="max-w-100" alt="img" />
                                                    </td>
                                                    <td>Category 2</td>
                                                    <td>ABCD</td>
                                                    <td>ABCD</td>
                                                    <td>
                                                        <a href="/CreateProduct" class="btn default"><i class="icon-pencil"></i></a>
                                                        <a href="/CreateProduct" class="btn red"><i class="icon-trash"></i></a>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div><!-- end col-sm-12 -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="form-actions">
                                        <div class="col-sm-12 text-center">
                                            <button class="small-button">Save &amp; Continue</button>
                                        </div>
                                    </div><!-- end form-group-->
                                </div><!-- end row -->
                            </div><!-- end tab-pane -->
                            <div class="tab-pane fade" id="Payment">
                                <div class="pricing-content-2">
                                    <div class="pricing-table-container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3 class="heading">Choose your package</h3>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4">
                                                <div class="price-column-container border-left border-top border-right pricing-bg-1 access-package">
                                                    <div class="price-table-head price-1">
                                                        <h2 class="opt-pricing-5">Premium Package</h2>
                                                    </div>
                                                    <div class="price-table-pricing">
                                                        <h3>
                                                            <sup class="price-sign">SAR</sup>34
                                                        </h3>
                                                        <p class="uppercase">per month</p>
                                                    </div>
                                                    <div class="price-table-content">
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-user"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">3 Members</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-drawer"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">50GB Storage</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-screen-smartphone"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Single Device</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-refresh"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Monthly Backups</div>
                                                        </div>
                                                    </div>
                                                    <div class="price-table-footer">
                                                        <a href="javascript:;" class="payment-button">Pay Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <div class="price-column-container border-left border-top border-right pricing-bg-2 access-package">
                                                    <div class="price-table-head price-1">
                                                        <h2 class="opt-pricing-5">Basic Package</h2>
                                                    </div>
                                                    <div class="price-table-pricing">
                                                        <h3>
                                                            <sup class="price-sign">SAR</sup>22
                                                        </h3>
                                                        <p class="uppercase">per month</p>
                                                    </div>
                                                    <div class="price-table-content">
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-user"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">3 Members</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-drawer"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">50GB Storage</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-screen-smartphone"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Single Device</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-refresh"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Monthly Backups</div>
                                                        </div>
                                                    </div>
                                                    <div class="price-table-footer">
                                                        <a href="javascript:;" class="payment-button">Pay Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <div class="price-column-container border-left border-top border-right pricing-bg-3 access-package">
                                                    <div class="price-table-head price-1">
                                                        <h2 class="opt-pricing-5">Economy Package</h2>
                                                    </div>
                                                    <div class="price-table-pricing">
                                                        <h3>
                                                            <sup class="price-sign">SAR</sup>15
                                                        </h3>
                                                        <p class="uppercase">per month</p>
                                                    </div>
                                                    <div class="price-table-content">
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-user"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">3 Members</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-drawer"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">50GB Storage</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-screen-smartphone"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Single Device</div>
                                                        </div>
                                                        <div class="row no-margin">
                                                            <div class="col-xs-3 text-right">
                                                                <i class="icon-refresh"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-left uppercase">Monthly Backups</div>
                                                        </div>
                                                    </div>
                                                    <div class="price-table-footer">
                                                        <a href="javascript:;" class="payment-button">Pay Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end row -->
                                    </div><!-- end pricing table-->
                                </div><!-- end pricing content-->
                            </div><!-- end tab-pane payment-->
                        </div><!-- end tab-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/form-dropzone.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#selectcity").select2({
            placeholder: "Select City",
        });

        $(".country_list").select2({
            placeholder: "Select Country",
        });

        $("#ApartType").select2({
            placeholder: "Select Apartment Type",
        });
        $("#MinimumBookingTime, #MinimumBookingTimeHome").select2({
            placeholder: "Select Minimum Booking Time",
            minimumResultsForSearch: -1
        });
        $("#BookingTime, #BookingTimeHome").select2({
            placeholder: "Select"
        });
        $("#ServiceCharge").select2({
            placeholder: "Select Service Charge"
        });
        $("#TransportCharge").select2({
            placeholder: "Select Transportation Charge"
        })
        $("#selectCategory").select2({
            placeholder: "Select Main Category"
        });

        $("#SelectCountry").select2({
            placeholder: "Select Country"
        });

        $("#StoreColor").select2({
            placeholder: "Select Store Color"
        });

        $("#PaymentCountry").select2({
            placeholder: "Select Country"
        })
    </script>
}




