﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Vendor Products List | Product Management | CheckClick Vendor Web Admin Panel";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Product Catalog
                    <small>View list of products</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>

        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Home">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Product Catalog</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <form class="form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">
                                                Product Creation Date From
                                            </label>
                                            <div class="col-sm-7">
                                                <input class="form-control form-control-inline date-picker" size="16" type="text" value="" />

                                            </div>
                                        </div><!-- end form-group-->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">
                                                Product Creation Date To
                                            </label>
                                            <div class="col-sm-7">
                                                <input class="form-control form-control-inline date-picker" size="16" type="text" value="" />

                                            </div>
                                        </div><!-- end form-group-->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Product Name</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div><!-- end form-group -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Category</label>
                                            <div class="col-sm-7">
                                                <select class="form-control select2" id="Category">
                                                    <option></option>
                                                    <option value="1">All</option>
                                                    <option value="2">Electronics</option>
                                                    <option value="3">Fashion</option>
                                                    <option value="4">Grocery</option>
                                                    <option value="5">Jewelery</option>
                                                    <option value="6">Gift Cards</option>
                                                </select>
                                            </div>
                                        </div><!-- end form-group -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">
                                                Search Sub Category <span class="badge badge-info tooltips" data-container="body" data-placement="bottom" data-original-title="Check to search in sub categories"><i class="fa fa-question"></i></span>
                                            </label>
                                            <div class="col-sm-7">
                                                <div class="mt-checkbox-inline">
                                                    <label class="mt-checkbox">
                                                        <input type="checkbox" id="inlineCheckbox21" value="option1">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!-- end form-group -->

                                    </div><!-- end col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Manufacturer</label>
                                            <div class="col-sm-7">
                                                <select class="form-control select2" id="Manufacturer">
                                                    <option></option>
                                                    <option value="1">All</option>
                                                    <option value="2">Dell</option>
                                                    <option value="3">Gucci</option>
                                                    <option value="4">H&amp;M</option>
                                                    <option value="5">Nike</option>
                                                    <option value="6">Apple</option>
                                                    <option value="7">Microsoft</option>
                                                    <option value="8">Panda</option>
                                                </select>
                                            </div>
                                        </div><!-- end form-group -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Branch</label>
                                            <div class="col-sm-7">
                                                <select class="form-control select2" id="Branch">
                                                    <option></option>
                                                    <option value="1">All</option>
                                                    <option value="2">Panda 2</option>
                                                    <option value="3">Panda 3</option>
                                                    <option value="4">Panda 4</option>
                                                    <option value="5">Panda 5</option>
                                                    <option value="6">Panda 6</option>
                                                    <option value="7">Panda 7</option>
                                                    <option value="8">Panda 8</option>
                                                </select>
                                            </div>
                                        </div><!-- end form-group -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Published <span class="badge badge-info tooltips" data-container="body" data-placement="bottom" data-original-title="Search by a &quot;Published&quot; property."><i class="fa fa-question"></i></span></label>
                                            <div class="col-sm-7">
                                                <select class="form-control select2" id="ProductPublished">
                                                    <option></option>
                                                    <option value="1">All</option>
                                                    <option value="2">Published Only</option>
                                                    <option value="3">Unpublished Only</option>
                                                </select>
                                            </div>
                                        </div><!-- end form-group -->
                                        <div class="form-group">
                                            <label class="control-label col-sm-5">Go directly to product SKU <span class="badge badge-info tooltips" data-container="body" data-placement="bottom" data-original-title="Enter product SKU and click Go."><i class="fa fa-question"></i></span></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" aria-describedby="sizing-addon1">
                                                    <span class="input-group-addon" id="sizing-addon1"><i class="icon-magnifier"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end col-md-6 -->
                                </div><!-- end row -->
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <button class="btn light-pink"><i class="icon-magnifier"></i> Search</button>
                                    </div>
                                </div>
                            </div><!-- end form-body-->
                        </form>
                    </div><!-- end portlet-body -->
                </div><!-- end portlet-->
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-5 text-right">
                                <a href="~/CreateProduct" class="btn dark">
                                    <i class="fa fa-plus-square-o"></i>&nbsp;Add New
                                </a>
                                <a class="btn red">
                                    <i class="icon-trash"></i>&nbsp;Delete (selected)
                                </a>
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-left">
                                <tr>
                                    <th>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Bar Code</th>
                                    <th>Price</th>
                                    <th>Stock Quantity</th>
                                    <th>Branch</th>
                                    <th>Published</th>
                                    <th>Edit</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" value="1" name="test">
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="image 1" />
                                    </td>
                                    <td>Dell 16' Laptop</td>
                                    <td>KK54785421</td>
                                    <td>150 SAR</td>
                                    <td>100</td>
                                    <td>Panda 1</td>
                                    <td>
                                        <input type="checkbox" class="make-switch" data-on-text="Yes" data-off-text="No">
                                    </td>
                                    <td>
                                        <a href="~/CreateProduct" class="btn default"><i class="icon-pencil"></i> Edit</a>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- end table-responsive -->
                        <div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate"><ul class="pagination margin-0"><li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
                    </div><!-- end portlet-body -->
                </div><!-- end portlet light bordered-->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>


@section Scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#Category").select2({
            placeholder: "Select Category",
        });

        $("#Manufacturer").select2({
            placeholder: "Select Product Manufacturer",
        });

        $("#Branch").select2({
            placeholder: "Select Store",
        });

        $("#ApartType").select2({
            placeholder: "Select Apartment Type",
        });

        $("#mainElement").select2({
            placeholder: "Select Main Element Effect Images"
        });

        $("#SelectBranch").select2({
            placeholder: "Select Branch"
        });

        $(".SelectCategory").select2({
            placeholder: "Select Category"
        });

        $(".SelectSubCategory").select2({
            placeholder: "Select Sub Category"
        });

        $("#TrackInventory").select2({
            placeholder: "Select Inventroy Method",
            minimumResultsForSearch: -1
        });

        $("#LowStockActivity").select2({
            placeholder: "Low Stock Activity",
            minimumResultsForSearch: -1
        });

        $("#AvailabilityRange").select2({
            placeholder: "Product Availability Range",
            minimumResultsForSearch: -1
        });

        $("#TrackInventory1").select2({
            placeholder: "Select Product",
            minimumResultsForSearch: -1
        });

        $("#OrderStatus").select2({
            placeholder: "Select Order Status",
            minimumResultsForSearch: -1
        });
        $("#ProductPublished").select2({
            placeholder: "Select Publish Status",
            minimumResultsForSearch: -1
        });

    </script>
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>
}
