﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Details | Checkclick Admin Panel ";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Vendor Details
                    <small>View | Approve</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Home">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Vendor Details</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" id="form_wizard_1">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <h3 class="form-section">Business Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Entity Type:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Products </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Category:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Electronics </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nationality:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Saudi Arabia </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Enity Name:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Glam LLC </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Commercial File:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> <a href="#">View Document</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">VAT Certificate No:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static text-capitalize"> 894sdf35184564156 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Authorized Person:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Mohammed Khaled </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Authorized Personnel ID:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> DBH234GDL </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Entity's Email Address:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Khaled@GlamLLC.com </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Entity's Contact Number:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> +966 536984125 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                </div>
                                <!--/row-->
                                <h3 class="form-section">Entity Status</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Status :</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">New Application</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Store Name (English):</label>
                                            <div class="col-md-9">
                                                Glam LLC
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Store Name (Arabic) :</label>
                                            <div class="col-md-9">
                                                Glam LLC
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="form-section">Address</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Address Type:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Office</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Appartment /Office Number:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> 12 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Building Name / Number:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> 12P </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Street Name:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Olaya </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">City:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Riyadh </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Region:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> Central </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Zip Code:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> 457890 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Country:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> SA </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                <h3 class="form-section">Entity Documents</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Registration Certificate :</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> <a href="#">View Regd Certificate</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">VAT Certificate:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> <a href="#">View VAT Certificate</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Authorised Personnel National ID:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> <a href="#">View Document</a> </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Authorisation Letter:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> <a href="#">View Authorisation Document</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="~/Admin/VendorManagement/CreateStore" class="btn grey">Edit</a>
                                                <a class="btn green" data-toggle="modal" href="#VerifyVendor">Verify</a>
                                                <a class="btn red" data-toggle="modal" href="#RejectVendor">Reject</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </form>
                        
                        <!-- END FORM-->
                    </div>
                </div><!-- end portlet-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<div class="modal fade" id="VerifyVendor" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Verify Vendor </h4>
            </div>
            <div class="modal-body"> Are you sure to Approve this Vendor? </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Yes,  Approve</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="RejectVendor" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Reject Vendor Application</h4>
            </div>
            <div class="modal-body">
                
                <div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Are you sure to Reject this Vendor's Application?</p>                      
                            <h4>Reason</h4>
                            <p>
                                <input type="text" class="col-md-12 form-control">
                            </p>
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Abort</button>
                <button type="button" class="btn green">Yes, Reject</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script src="~/assets1/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    
}
