﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Orders | Checkclick Admin Panel ";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />

    <link href="~/assets1/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Vendor Orders
                    <small>View | Approve</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Home">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Home">Vendor Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Vendor Orders</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box red bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i> Orders
                        </div>
                        
                    </div>
                    <div class="portlet-body">
                        <form class="form form-inline">
                            <input type="text" placeholder="Invoice Number" class="form-control" />
                            <select class="form-control">
                                <option value="0">Select Category</option>
                                <option value="1">Grocerry</option>
                                <option value="2">Bakery</option>
                                <option value="3">Icecream parlour</option>
                                <option value="4">Restaurant</option>
                            </select>

                            <select class="form-control">
                                <option value="0">Select Country</option>
                                <option value="1">Saudi Arabia</option>
                                <option value="2">UAE</option>
                                <option value="3">Kuwait</option>
                                <option value="4">Bahrain</option>
                            </select>
                            <select class="form-control">
                                <option value="0">Select City</option>
                                <option value="1">Riyadh</option>
                                <option value="2">Jeddah</option>
                                <option value="3">Dammam</option>
                                <option value="4">Abha</option>
                            </select>
                            <select class="form-control">
                                <option value="0">Select Order Status</option>
                                <option value="1">New</option>
                                <option value="2">Accepted</option>
                                <option value="3">Packed</option>
                                <option value="4">Shipped</option>
                                <option value="5">Closed</option>
                                <option value="6">Rejected</option>
                                <option value="7">Delivered</option>
                            </select>
                            <button class="btn red">Filter</button>
                        </form>
                        <br />
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#tab_1_1_1" data-toggle="tab"> Open Orders </a>
                                </li>
                                <li>
                                    <a href="#tab_1_1_2" data-toggle="tab"> Closed Orders </a>
                                </li>
                                <li>
                                    <a href="#tab_1_1_3" data-toggle="tab"> Cancelled Orders </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1_1">
                                    <table class="table table-responsive">
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Customer</th>
                                            <th>City</th>
                                            <th>Order Price</th>
                                            <th>Total Items</th>
                                            <th>Ordered On</th>
                                            <th>Expected By</th>
                                            <th>Oder Status</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>New</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Accepted</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Packed</td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Shipped</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>New</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Accepted</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Packed</td>

                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Shipped</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="tab-pane" id="tab_1_1_2">
                                    <table class="table table-responsive">
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Customer</th>
                                            <th>City</th>
                                            <th>Order Price</th>
                                            <th>Total Items</th>
                                            <th>Expeccted By</th>
                                            <th>Delivered On</th>
                                            <th>Oder Status</th>
                                            <th>Rating</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Delivered</td>
                                            <td class="red">
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-full  text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>
                                                <i class="fa fa-star-o text-danger" aria-hidden="true"></i>

                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="tab-pane" id="tab_1_1_3">
                                    <table class="table table-responsive">
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Customer</th>
                                            <th>City</th>
                                            <th>Order Price</th>
                                            <th>Total Items</th>
                                            <th>Ordered On</th>
                                            <th>Expected By</th>
                                            <th>Oder Status</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Cancelled</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Cancelled</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Cancelled</td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Cancelled</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Rejected</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Rejected</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Rejected</td>

                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Abu haitam</td>
                                            <td>Riyadh</td>
                                            <td>235.00</td>
                                            <td>3</td>
                                            <td>01 May 2018</td>
                                            <td>06 May 2018</td>
                                            <td>Cancelled</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>


@section Scripts{
    <script src="~/assets1/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/search.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/owl-carousel/owl.carousel.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets1/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script src="~/assets1/assets/pages/scripts/table-datatables-fixedheader.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>

    <!-- -->
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <!--<script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
    <script src="~/assets1/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

}
