﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Subscription Management | Checkclick Vendor Market Place";
}
@section Styles{
    <link href="~/assets1/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Subscription Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Subscription Management</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Branches Subscription</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- store list carousel-->
                                <div class="owl-carousel owl-theme" id="owl-carousel4">
                                    <div class="item">
                                        <div class="branch-card">
                                            <div class="img-branch">
                                                <img src="~/assets1/assets/img-store.png" alt="branch list img" />
                                            </div>
                                            <div class="branch-address">
                                                <h3>Floral Exopression</h3>
                                                <p>
                                                    Address : SCO - 15 First Floor,<br />
                                                    Sect 10, Opp Hotel Mount View<br />
                                                    Riyadh - 11400
                                                </p>
                                                <span><a href="~/Admin/VendorManagement/VendorSubscriptionRenew" data-toggle="modal">Golden Pack Expires in 15 days. <i class="fa fa-rotate-left"></i></a></span>
                                            </div>
                                        </div><!-- end branch-card -->



                                    </div>
                                    <div class="item">
                                        <div class="branch-card">
                                            <div class="img-branch">
                                                <img src="~/assets1/assets/img-store.png" alt="branch list img" />
                                            </div>
                                            <div class="branch-address">
                                                <h3>Floral Exopression</h3>
                                                <p>
                                                    Address : SCO - 15 First Floor,<br />
                                                    Sect 10, Opp Hotel Mount View<br />
                                                    Riyadh - 11400
                                                </p>
                                                <span><a href="~/Admin/VendorManagement/VendorSubscriptionRenew" data-toggle="modal">Golden Pack Expires in 15 days. <i class="fa fa-rotate-left"></i></a></span>
                                            </div>
                                        </div><!-- end branch-card -->
                                    </div>
                                    <div class="item">
                                        <div class="branch-card">
                                            <div class="img-branch">
                                                <img src="~/assets1/assets/img-store.png" alt="branch list img" />
                                            </div>
                                            <div class="branch-address">
                                                <h3>Floral Exopression</h3>
                                                <p>
                                                    Address : SCO - 15 First Floor,<br />
                                                    Sect 10, Opp Hotel Mount View<br />
                                                    Riyadh - 11400
                                                </p>
                                                <span><a href="~/Admin/VendorManagement/VendorSubscriptionRenew" data-toggle="modal">Golden Pack Expires in 15 days. <i class="fa fa-rotate-left"></i></a></span>
                                            </div>
                                        </div><!-- end branch-card -->
                                    </div>
                                    <div class="item">
                                        <div class="branch-card">
                                            <div class="img-branch">
                                                <img src="~/assets1/assets/img-store.png" alt="branch list img" />
                                            </div>
                                            <div class="branch-address">
                                                <h3>Floral Exopression</h3>
                                                <p>
                                                    Address : SCO - 15 First Floor,<br />
                                                    Sect 10, Opp Hotel Mount View<br />
                                                    Riyadh - 11400
                                                </p>
                                                <span><a href="~/Admin/VendorManagement/VendorSubscriptionRenew" data-toggle="modal">Golden Pack Expires in 15 days. <i class="fa fa-rotate-left"></i></a></span>
                                            </div>
                                        </div><!-- end branch-card -->
                                    </div>
                                    <div class="item">
                                        <div class="branch-card">
                                            <div class="img-branch">
                                                <img src="~/assets1/assets/img-store.png" alt="branch list img" />
                                            </div>
                                            <div class="branch-address">
                                                <h3>Floral Exopression</h3>
                                                <p>
                                                    Address : SCO - 15 First Floor,<br />
                                                    Sect 10, Opp Hotel Mount View<br />
                                                    Riyadh - 11400
                                                </p>
                                                <span><a href="~/Admin/VendorManagement/VendorSubscriptionRenew" data-toggle="modal">Golden Pack Expires in 15 days. <i class="fa fa-rotate-left"></i></a></span>
                                            </div>
                                        </div><!-- end branch-card -->
                                    </div>
                                </div><!-- end owl-theme -->
                                <a href="#StoreList" data-toggle="modal" class="primary-txt-help acceesslink"><i class="fa fa-list primary-txt"></i></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- end row-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-key"></i>
                            <span class="caption-subject primary-txt">Access Subscription</span>
                        </div>
                    </div><!-- end portlet-title -->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- in this carousel access color is defined by access membership type-->
                                <div class="owl-carousel owl-theme" id="owl-carousel2">
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days </div>
                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card2 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card3 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card4 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card2 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card3 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now

                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="dashboard-stat blue card4 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Access ID</small>
                                                </div>
                                                <div class="desc"> Expires in 7 months 5 days</div>

                                            </div>
                                            <br />
                                            <a class="more more-extra" href="~/Admin/VendorManagement/VendorSubscriptionRenew">
                                                Renew Now
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end owl-theme -->
                                <a href="#AccessList" data-toggle="modal" class="primary-txt-help acceesslink"><i class="fa fa-list primary-txt"></i></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div><!-- end portlet-body -->
                </div><!-- end portlet light-->
            </div>
        </div><!-- end row -->
    </div>
    <!-- END CONTENT -->
</div><!-- end page-content-wrapper -->
<!-- access modal -->
<!-- AccessList Modal-->
<div class="modal fade" id="AccessList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Access Subscribers</h4>
            </div>
            <div class="modal-body">
                <div class="search-page search-content-1">
                    <div class="search-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Access ID...">
                                    <span class="input-group-btn">
                                        <button class="btn default-btn uppercase bold" type="button"><i class="fa fa-search fa-2x"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-container">
                                    <ul>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Access ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            Expiry in :
                                                            <a href="javascript:;">2 Months</a> -
                                                            <span class="font-grey-salt">3 Days</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="search-pagination">
                    <ul class="pagination">
                        <li class="page-active">
                            <a href="javascript:;"> 1 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 2 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 3 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 4 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end AccessList Modal-->
<!-- end access modal-->
<!-- Store List -->
<div class="modal fade" id="StoreList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Branches List</h4>
            </div>
            <div class="modal-body">
                <div class="search-page search-content-1">
                    <div class="search-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Branch Name...">
                                    <span class="input-group-btn">
                                        <button class="btn default-btn uppercase bold" type="button"><i class="fa fa-search fa-2x"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-container">
                                    <ul>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-item clearfix">
                                            <a href="javascriptt:;">
                                                <img src="~/assets1/assets/pages/img/page_general_search/01.jpg" />
                                            </a>
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Store Name - ID</a>
                                                        </h2>
                                                        <p class="search-desc">
                                                            <a href="javascript:;" data-target="#stack1" data-toggle="modal">
                                                                Address : SCO - 15 First Floor, Sect 10, Opp Hotel Mount View, Riyadh - 11400
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="search-pagination">
                    <ul class="pagination">
                        <li class="page-active">
                            <a href="javascript:;"> 1 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 2 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 3 </a>
                        </li>
                        <li>
                            <a href="javascript:;"> 4 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- End Store List-->
<!--Packages List-->
<div class="modal fade" id="PackagesList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Packages</h4>
            </div>
            <div class="modal-body">
                <div class="search-page search-content-1">
                    <div class="scroller" style="height: 540px;" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h4>
                                                        <span class="price-sign"> SAR</span> 24 /month
                                                    </h4>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card2 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Basic Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div>
                                                    <div class="col-md-6">
                                                        <h4>
                                                            <span class="price-sign">SAR </span>20 /month
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card3 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Economic Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>
                                                        <span class="price-sign">SAR </span>24 /month
                                                    </h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h4>
                                                        <span class="price-sign"> SAR</span> 24 /month
                                                    </h4>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h4>
                                                        <span class="price-sign"> SAR</span> 24 /month
                                                    </h4>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="owl-item active" style="margin-right: 10px;">
                                    <div class="item">
                                        <div class="dashboard-stat blue card1 pos-relative">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                                <div class="desc"><span><i class="fa fa-angle-right"></i> All Marketing Features</span></div>
                                            </div>
                                            <br>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h4>
                                                        <span class="price-sign"> SAR</span> 24 /month
                                                    </h4>

                                                </div>
                                                <div class="col-md-6">
                                                    <a class="more more-extra" href="javascript:;">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--End Packages List-->
<!-- modal location -->
<div id="stack1" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Branch Location Map</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="loc-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6096.971588552344!2d46.68499257021023!3d24.682865439478736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh!5e0!3m2!1sen!2ssa!4v1521015653125" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal location-->

@section Scripts{
    <script src="~/assets1/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/search.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        $('#owl-carousel1, #owl-carousel2').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('#owl-carousel4').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
}