﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Subscription Management | Packages";
}
@section Styles{
    <link href="~/assets1/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/pages/css/pricing.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Subscription Management
                    <small>Branch 1</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Vendor/SubscriptionManagement">Subscription Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Packages</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Current Subscription</span>
                        </div>
                    </div>
                    <div class="pricing1 pricing--palden margin-top-20">

                        <div class="pricing__item pricing__item--featured">
                            <div class="pricing__deco">
                                <svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100" enable-background="new 0 0 300 100" xml:space="preserve">
                                <path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />







                                <path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />







                                <path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z" />







                                <path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />







                        </svg>
                                <div class="pricing__price"><span class="pricing__currency">SAR</span>59<span class="pricing__period">/ mo</span></div>
                                <h3 class="pricing__title">Premium Package</h3>
                            </div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">5 GB of space</li>
                                <li class="pricing__feature">Support at SAR 5/hour</li>
                                <li class="pricing__feature">Full cloud access</li>
                            </ul>
                            <button class="pricing__action">Renew Now</button>
                        </div>

                    </div><!-- end pricing content-->
                </div>
            </div>
        </div><!-- end row-->
        <!-- end row -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed"></i>
                            <span class="caption-subject primary-txt">Previous Subscriptions</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel owl-theme" id="PreviuosPackage">
                                    <div class="item">
                                        <div class="expired-packages">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="number">
                                                    <small>Expired On</small>
                                                    25 Jan 2017
                                                    <a class="btn red margin-top-10 more more-extra" href="#PackagesList" data-toggle="modal">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="expired-packages">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="number">
                                                    <small>Expired On</small>
                                                    25 Jan 2017
                                                    <a class="btn red margin-top-10 more more-extra" href="#PackagesList" data-toggle="modal">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <div class="expired-packages">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="number">
                                                    <small>Expired On</small>
                                                    25 Jan 2017
                                                    <a class="btn red margin-top-10 more more-extra" href="#PackagesList" data-toggle="modal">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <div class="expired-packages">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="number">
                                                    <small>Expired On</small>
                                                    25 Jan 2017
                                                    <a class="btn red margin-top-10 more more-extra" href="#PackagesList" data-toggle="modal">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <div class="expired-packages">
                                            <div class="details">
                                                <div class="number">
                                                    <small>Premium Package</small>
                                                </div>
                                                <div class="number">
                                                    <small>Expired On</small>
                                                    25 Jan 2017
                                                    <a class="btn red margin-top-10 more more-extra" href="#PackagesList" data-toggle="modal">
                                                        Renew Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end item -->
                                </div><!-- end previous package-->
                            </div><!-- end col-md-12 -->
                        </div><!-- end row -->

                    </div><!-- portlet body -->
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT -->
</div><!-- end page-content-wrapper -->
<!--Packages List-->
<!--End Packages List-->
<!-- end modal location-->

@section Scripts{

    <script src="~/assets1/assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        $('#PreviuosPackage').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

    </script>
}
