﻿
@{
    ViewBag.Title = "CreateProductAttribute";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Themes/ckeditor/ckeditor.js"></script> 
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">    
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">                
                <h1>
                    Add a new product attribute 
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/Attributes">product attribute Details </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create attribute</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-ticket "></i>
                            <span class="caption-subject primary-txt">Create attribute</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Description</label>
                                        <div class="col-sm-8">                                            
                                            <textarea name="editor1"></textarea>
                                        </div>
                                    </div><!-- end form-group-->                     

                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <a class="small-button button-submit" href="javascript:;">Submit</a>
                                        </div>
                                    </div><!-- end form-group -->
                                </div><!-- end form-horizontal -->
                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>




@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="~/Themes/ckeditor/ckeditor.js"></script> 
<script type="text/javascript">
            CKEDITOR.replace( 'editor1' );
</script>
}





