﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_StoreSubLayout.cshtml";
}

@section Styles{}

<section class="store-products-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-right">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home <i class="fas fa-chevron-right"></i></a>
                    <a class="breadcrumb-item" href="products.html">Services <i class="fas fa-chevron-right"></i></a>
                    <span class="breadcrumb-item active">Cleaning Services</span>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-6 fwidth576">
                <div class="product">
                    <div class="product-image">
                        <div class="icon-images">
                            <img src="~/web-assets/ar/images/service-details1.jpg" class="ithumbnail active-op" />
                            <img src="~/web-assets/ar/images/service-details2.jpg" class="ithumbnail " />
                            <img src="~/web-assets/ar/images/service-details3.jpg" class="ithumbnail " />
                            <img src="~/web-assets/ar/images/service-details4.jpg" class="ithumbnail " />
                        </div>
                        <div class="display-img-tab">
                            <img src="~/web-assets/ar/images/service-details1.jpg" class="display-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-6 fwidth576 product-details">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 ">
                        <h3><strong>Cleaning With Tool</strong></h3>
                        <h4><strong>Per Hour</strong></h4>
                    </div>
                    <div class="col-sm-6 col-xs-6 rating text-right">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <a href="#">2974</a>
                    </div>
                </div>
                <div class="color-size">
                    <div class="pull-left">
                        <div class="filters-right">
                            <p>
                                Service:
                                <div class="btn-group">
                                    <button type="button" id="color" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                        Home <span class="caret"></span>
                                    </button>
                                    <ul class="delivery-filter color dropdown-menu" role="menu">
                                        <li><a>Home</a></li>
                                        <li><a>Store</a></li>
                                        <li><a>Office</a></li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="color-box pull-left">
                        <div class="filters-right">
                            <p>
                                Service Provider:
                                <div class="btn-group">
                                    <button type="button" id="size" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                        Shara <span class="caret"></span>
                                    </button>
                                    <ul class="delivery-filter size dropdown-menu" role="menu">
                                        <li><a>1 Shara</a></li>
                                        <li><a>2 Shara</a></li>
                                        <li><a>3 Shara</a></li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="color-box pull-left">
                        <div class="filters-right">
                            <p>
                                Time:
                                <div class="btn-group">
                                    <button type="button" id="time" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                                        Time <span class="caret"></span>
                                    </button>
                                    <ul class="delivery-filter time dropdown-menu" role="menu">
                                        <li><a>Time</a></li>
                                        <li><a>Date</a></li>
                                    </ul>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="stock">
                    <h4>Availability: <span>YES</span></h4>
                    <h3>AED 150 &ensp; <del>AED 200</del></h3>
                    <hr>
                </div>
                <div class="number-cart">
                    <p>SELECT DURATION (Hr's)</p>
                    <div class="pull-left">
                        <input type="button" value="-" class="btn btn-default subs pull-left" />
                        <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                        <input type="button" value="+" class="btn btn-default adds" />
                    </div>
                    <button type="button" class="btn btn-default">ADD TO CART</button>
                </div>
                <div>
                    <hr>
                    <div class="social-icons">
                        <span>SHARE:</span>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-google-plus-g"></i></a>
                        <a href=""><i class="fas fa-envelope"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 product-detail-tabs">
                <hr>
                <ul class="nav nav-tabs text-center">
                    <li class="active"><a href="#a" data-toggle="tab">SPECIFICATION</a></li>
                    <li><a href="#b" data-toggle="tab">REVIEWS</a></li>
                    <li><a href="#c" data-toggle="tab">RELATED SERVICES</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        <table width="100%">
                            <tr>
                                <td>Services Provided</td>
                                <td>Making A New Trend In Poster Printing</td>
                            </tr>
                            <tr>
                                <td>Tools Used</td>
                                <td>Famous Names In Barbecue</td>
                            </tr>
                            <tr>
                                <td>Number of Persons provided</td>
                                <td>One</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="b">
                        <div class="row review-rating">
                            <div class="col-sm-6 border-right">
                                <h4><strong>3 reviews for Rose flower</strong></h4>
                                <ul>
                                    <li>
                                        <h4></h4>
                                        <div>
                                            <h4 class="pull-left">Isaiah Swanson</h4>
                                            <span class="pull-right">May 18, 2016</span>
                                            <p>
                                                An efficient ofessional and objective studio. You get money worth for your treatment.
                                                <span class="rating">
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <h4></h4>
                                        <div>
                                            <h4 class="pull-left">Susmita Kundu</h4>
                                            <span class="pull-right">May 18, 2016</span>
                                            <p>
                                                An efficient ofessional and objective studio. You get money worth for your treatment.
                                                <span class="rating">
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <h4></h4>
                                        <div>
                                            <h4 class="pull-left">Anuja Deora</h4>
                                            <span class="pull-right">May 18, 2016</span>
                                            <p>
                                                An efficient ofessional and objective studio. You get money worth for your treatment.
                                                <span class="rating">
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">

                                <form id="rating-form" method="post" action="contact.php" role="form" novalidate="true">
                                    <h4><strong>Add A Review</strong></h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="rating">
                                                    <span class="font16">Rating: </span>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="fas fa-star checked"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control font16" placeholder="Enter Your Review *" rows="5" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Name *" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Email *" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-default" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane store-products-list" id="c">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/ar/images/storeproductlist-1.jpg" width="100%">
                                    <div class="product-list-cart">
                                        <i class="far fa-heart"></i><br>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="caption">
                                        <h4>Rose Flower</h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6 pull-left">
                                                <h4 class="pull-left">SAR 235.50</h4>
                                            </div>
                                            <div class="col-sm-6 col-xs-6 pull-right">
                                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                                <input type="button" value="+" class="btn btn-default adds" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/ar/images/storeproductlist-1.jpg" width="100%">
                                    <div class="product-list-cart">
                                        <i class="far fa-heart"></i><br>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="caption">
                                        <h4>Rose Flower</h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6 pull-left">
                                                <h4 class="pull-left">SAR 235.50</h4>
                                            </div>
                                            <div class="col-sm-6 col-xs-6 pull-right">
                                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                                <input type="button" value="+" class="btn btn-default adds" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/ar/images/storeproductlist-1.jpg" width="100%">
                                    <div class="product-list-cart">
                                        <i class="far fa-heart"></i><br>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="caption">
                                        <h4>Rose Flower</h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6 pull-left">
                                                <h4 class="pull-left">SAR 235.50</h4>
                                            </div>
                                            <div class="col-sm-6 col-xs-6 pull-right">
                                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                                <input type="button" value="+" class="btn btn-default adds" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fwidth">
                                <div class="thumbnail">
                                    <img src="~/web-assets/ar/images/storeproductlist-1.jpg" width="100%">
                                    <div class="product-list-cart">
                                        <i class="far fa-heart"></i><br>
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                    <div class="caption">
                                        <h4>Rose Flower</h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6 pull-left">
                                                <h4 class="pull-left">SAR 235.50</h4>
                                            </div>
                                            <div class="col-sm-6 col-xs-6 pull-right">
                                                <input type="button" value="-" class="btn btn-default subs pull-left" />
                                                <input type="text" value="1" class="onlyNumber form-control pull-left noOfQty" value="" name="noOfRoom" />
                                                <input type="button" value="+" class="btn btn-default adds" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script type="text/javascript">
    $('.color li a').on('click', function () {
        $('#color').html($(this).html() + '<span class="caret"></span>');
    })
    $('.size li a').on('click', function () {
        $('#size').html($(this).html() + '<span class="caret"></span>');
    })
    $('.time li a').on('click', function () {
        $('#time').html($(this).html() + '<span class="caret"></span>');
    })

    $('.adds').click(function add() {
        var _qty = $(this).parent().children(".noOfQty");

        var $rooms = $(_qty);
        var a = $rooms.val();

        a++;
        $(".subs").prop("disabled", !a);
        $rooms.val(a);
    });
    $(".subs").prop("disabled", !$(".noOfQty").val());

    $('.subs').click(function subst() {

        var _qty = $(this).parent().children(".noOfQty");

        var $rooms = $(_qty);
        var b = $rooms.val();
        if (b >= 1) {
            b--;
            $rooms.val(b);
        }
        else {
            $(".subs").prop("disabled", true);
        }
    });

    // Change image on thumbnail hover.
    var thumbs = $(".icon-images").find("img");
    thumbs.hover(function () {
        $(".ithumbnail").removeClass("active-op");
        $(this).addClass("active-op");
        var src = $(this).attr("src");
        var dp = $(".display-img");
        dp.attr("src", src);
    });
</script>

}

