﻿
@{
    ViewBag.Title = "Checkclick Checkout";
    Layout = "~/Views/Shared/_StoreSubLayout.cshtml";
}
@section Styles{
    <link href="~/web-assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
}

<section class="Product-cart-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-head text-center">
                <!-- <h4>MAKE THE HARD WAY</h4> -->
                <h2 class="bold">CHECKOUT</h2>
                <div class="separator"><span><img src="~/web-assets/images/heading-logo.png"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="msform">
                    <ul id="progressbar">
                        <li class="active">Shipping</li>
                        <li>Payment</li>
                        <li>Conformation</li>
                    </ul>
                    <fieldset>
                        <div class="form-group">
                            <label>Choose Type Of Service:</label><br>
                            <label class="radio-inline"><input type="radio" name="checkout" value="0" checked>Delivery</label>
                            <label class="radio-inline"><input type="radio" name="checkout" value="1">Shipping</label>
                            <label class="radio-inline"><input type="radio" name="checkout" value="2">Pickup</label>
                        </div>

                        <div class="form-group" id="when">
                            <label for="dtp_input1" control-label">When ?</label>

                            <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>

                        <div class="form-group d-none" id="shipto">
                            <label>Ship To:</label>
                            <select>
                                <option>Select Country</option>
                                <option>India</option>
                                <option>Soudi</option>
                                <option>Nepal</option>
                                <option>Dubai</option>
                                <option>Siria</option>
                            </select>
                        </div>
                        <div class="form-group" id="address2">
                            <label for="dtp_input1" control-label">Address</label>
                            <span class="pull-right">
                                <a href="#" title="live location"><i class="fas fa-life-ring"></i></a>
                                <a href="#"><i class="fas fa-edit"></i></a>
                            </span>
                            <textarea rows="4" readonly>3733 Ibn Musa, Al rawdah, Jeadha, 23433 - 7809</textarea>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label>Payment Method</label><br>
                            <label class="radio-inline"><input type="radio" name="payment" value="3" checked>Cash On Delivery</label>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="payment" value="4">Credit Card</label>
                            <span class="pull-right">
                                <img src="~/web-assets/images/mastercard.PNG" width="30">
                                <img src="~/web-assets/images/visacard.png" width="30">
                            </span>
                        </div>
                        <div class="form-group d-none" id="credit-options">
                            &ensp;&ensp; <label class="radio-inline"><input type="radio" name="pay" value="6">Pay Now</label>
                            <label class="radio-inline"><input type="radio" name="pay" value="7">Pay Later </label>
                            <span data-toggle="tooltip" data-placement="bottom" title="! The money will not be deducted untill the order been recived from the vender.!" class="btn-danger">!</span>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="payment" value="5">Debit Card</label>
                            <span class="pull-right">
                                <img src="~/web-assets/images/madacard.png" width="30">
                            </span>
                        </div>
                        <div class="form-group d-none" id="debit-options">
                            &ensp;&ensp; <label class="radio-inline"><input type="radio" name="pay" value="8">Pay Now</label>
                            <label class="radio-inline"><input type="radio" name="pay" value="9">Pay Later </label>
                            <span data-toggle="tooltip" data-placement="bottom" title="! The money will not be deducted untill the order been recived from the vender.!" class="btn-danger">!</span>
                        </div>
                        <div class="form-group d-none" id="card-details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Card Holder Name<sup>*</sup></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Card Number<sup>*</sup></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="expiry_month">Card Expiry Date<sup>*</sup></label>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="form-control" name="expiry_month" id="expiry_month">
                                                    <option>Month</option>
                                                    <option value="01">Jan (01)</option>
                                                    <option value="02">Feb (02)</option>
                                                    <option value="03">Mar (03)</option>
                                                    <option value="04">Apr (04)</option>
                                                    <option value="05">May (05)</option>
                                                    <option value="06">June (06)</option>
                                                    <option value="07">July (07)</option>
                                                    <option value="08">Aug (08)</option>
                                                    <option value="09">Sep (09)</option>
                                                    <option value="10">Oct (10)</option>
                                                    <option value="11">Nov (11)</option>
                                                    <option value="12">Dec (12)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control" name="expiry_year">
                                                    <option value="">Year</option>
                                                    <option value="19">2019</option>
                                                    <option value="20">2020</option>
                                                    <option value="21">2021</option>
                                                    <option value="22">2022</option>
                                                    <option value="23">2023</option>
                                                    <option value="14">2024</option>
                                                    <option value="15">2025</option>
                                                    <option value="16">2026</option>
                                                    <option value="17">2027</option>
                                                    <option value="18">2028</option>
                                                    <option value="14">2029</option>
                                                    <option value="15">2030</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>CVC Code<sup>*</sup></label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" required>
                                        <img src="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label>Your Order</label>
                            <h4><strong>SAR 220.00</strong></h4>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Shipping</label>
                            <h4><strong>Deliver with in 7  to 14 business day</strong></h4>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Payment</label>
                            <h4><strong> Cash on delivery</strong></h4>
                        </div>
                        <hr>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Place Order" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/web-assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="~/web-assets/js/jquery.easing.min.js"></script>
    <script src="~/web-assets/js/progress-bar.js"></script>

    <script type="text/javascript">

        // Date & Time
        $('.form_datetime').datetimepicker({
            startDate: new Date(),
            autoclose: true,
            orientation: 'bottom auto',
            todayBtn: true,
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $('input[type=radio][name=checkout]').change(function () {
                if (this.value == '0') {
                    $("#when").show();
                    $("#shipto").hide();
                    $("#address2").show();
                }
                else if (this.value == '1') {
                    $("#when").hide();
                    $("#shipto").show();
                    $("#address2").show();
                }
                else if (this.value == '2') {
                    $("#when").hide();
                    $("#shipto").hide();
                    $("#address2").show();
                }
            });
            // });

            //$(document).ready(function(){
            $('input[type=radio][name=payment]').change(function () {
                if (this.value == '3') {
                    $("#credit-options").hide();
                    $("#card-details").hide();
                    $("#debit-options").hide();
                }
                else if (this.value == '4') {
                    $("#credit-options").show();
                    $("#card-details").hide();
                    $("#debit-options").hide();
                }
                else if (this.value == '5') {
                    $("#credit-options").hide();
                    $("#card-details").hide();
                    $("#debit-options").show();
                }
            });
            //    });
            //$(document).ready(function(){
            $('input[type=radio][name=pay]').change(function () {
                if (this.value == '6') {
                    $("#card-details").show();
                }
                else if (this.value == '7') {
                    $("#card-details").hide();
                }
            });
            //  });
            //$(document).ready(function(){
            $('input[type=radio][name=pay]').change(function () {
                if (this.value == '8') {
                    $("#card-details").show();
                }
                else if (this.value == '9') {
                    $("#card-details").hide();
                }
            });
        });
    </script>
}