﻿
@{
    ViewBag.Title = "Checkclick Cart";
    Layout = "~/Areas/ar/Views/Shared/_StoreSubLayout.cshtml";
}

@section Styles{}

<section class="Product-cart-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-head text-center">
                <!-- <h4>MAKE THE HARD WAY</h4> -->
                <h2 class="bold">CART</h2>
                <div class="separator"><span><img src="~/web-assets/ar/images/heading-logo.png"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table cart">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>PRODUCTS</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="close-btn">x</span> </td>
                            <td><img src="~/web-assets/ar/images/productdetails-11.jpg" width="60px"></td>
                            <td>
                                <h4>Rose Flower<br><small>20 Pic</small></h4>

                            </td>
                            <td>
                                AED 200
                            </td>
                            <td>
                                <div class="quantity nopadding">
                                    <input type="button" value="-" class="btn btn-default subs" />
                                    <input type="text" value="1" class="onlyNumber form-control noOfQty" value="" name="noOfRoom" />
                                    <input type="button" value="+" class="btn btn-default adds" />
                                </div>
                            </td>
                            <td>
                                <strong>AED 400</strong>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="close-btn">x</span> </td>
                            <td><img src="~/web-assets/ar/images/productdetails-11.jpg" width="60px"></td>
                            <td>
                                <h4>Cactus<br><small>20 Pic</small></h4>

                            </td>
                            <td>
                                AED 200
                            </td>
                            <td>
                                <div class="quantity nopadding">
                                    <input type="button" value="-" class="btn btn-default subs" />
                                    <input type="text" value="1" class="onlyNumber form-control noOfQty" value="" name="noOfRoom" />
                                    <input type="button" value="+" class="btn btn-default adds" />
                                </div>
                            </td>
                            <td>
                                <strong>AED 400</strong>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="close-btn">x</span> </td>
                            <td><img src="~/web-assets/ar/images/productdetails-11.jpg" width="60px"></td>
                            <td>
                                <h4>Tulips<br><small>20 Pic</small></h4>

                            </td>
                            <td>
                                AED 200
                            </td>
                            <td>
                                <div class="quantity nopadding">
                                    <input type="button" value="-" class="btn btn-default subs" />
                                    <input type="text" value="1" class="onlyNumber form-control noOfQty" value="" name="noOfRoom" />
                                    <input type="button" value="+" class="btn btn-default adds" />
                                </div>
                            </td>
                            <td>
                                <strong>AED 400</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row cart-update">
            <div class="col-sm-3 col-xs-4 fwidth">
                <button type="button" class="btn btn-default form-control"><strong>UPDATE CART</strong></button>
            </div>
            <div class="col-sm-4 "></div>
            <div class="col-sm-5 col-xs-8 fwidth text-right">
                <form>
                    <input type="text" name="" class="coupon-no" placeholder="Enter Coupon Number...">
                    <button type="button" name="" class="btn btn-danger">APPLY COUPON</button>
                </form>
            </div>
        </div>
        <div class="row cart-pricing">
            <div class="col-sm-6">
                <h4><strong>Additional Remarks</strong></h4>
                <textarea rows="5" class="form-control"></textarea>
            </div>
            <div class="col-md-offset-1 col-sm-5 table-responsive">
                <h4 class="text-center"><strong>PRICE DETAILS</strong></h4><hr>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>SAR 235.50</td>
                        </tr>
                        <tr>
                            <td>Delivery Charges</td>
                            <td>SAR 0.00</td>
                        </tr>
                        <tr>
                            <td>Tax (VAT)</td>
                            <td>SAR 1.50</td>
                        </tr>
                        <tr>
                            <td>Sub Total</td>
                            <td>SAR 237.00</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>SAR 17.00</td>
                        </tr>
                        <tr>
                            <td>NET TOTAL</td>
                            <td>SAR 220.00</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="form-control">CHECKOUT</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script type="text/javascript">
        $('.adds').click(function add() {
	var _qty = $(this).parent().children(".noOfQty");

    var $rooms = $(_qty);
    var a = $rooms.val();

    a++;
    $(".subs").prop("disabled", !a);
    $rooms.val(a);
});
$(".subs").prop("disabled", !$(".noOfQty").val());

$('.subs').click(function subst() {

	var _qty = $(this).parent().children(".noOfQty");

    var $rooms = $(_qty);
    var b = $rooms.val();
    if (b >= 1) {
        b--;
        $rooms.val(b);
    }
    else {
        $(".subs").prop("disabled", true);
    }
});

</script>
    }