﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advertisement Details | Advertisement Management | Checkclick Super Admin Panel";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Advertisement Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/AdvertisementManagement">Advertisement Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Advertisement Details</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Advertisement Details</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">

                            <div class="col-sm-6">
                                
                                <img src="http://via.placeholder.com/500x250" class="img-responsive" alt="" />
                                <h4 class="margin-top-10">20% off on Electronics items<span class="pull-right txt-red mouse-pointer"><i class="fa-2x icon-trash"></i></span></h4>
                                <p class="help-block">Expiry: 12th June 2018</p>
                                <h3 class="form-section">Details</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#1" data-toggle="tab"> Information</a>
                                    </li>
                                    <li>
                                        <a href="#2" data-toggle="tab"> Change Ad. Settings </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="1">
                                        <div class="form-horizontal">
                                            <h4 class="form-section">Store Information</h4>
                                            <div class="form-group">
                                                <label class="col-sm-4">Name</label>
                                                <div class="col-sm-8">
                                                    <label> : Glam LLC</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4">Category</label>
                                                <div class="col-sm-8">
                                                    <label> : Product (Grocerry)</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4">Vendor Type</label>
                                                <div class="col-sm-8">
                                                    <label> : Entity</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <h4 class="form-section">Launching Date / Time</h4>
                                            <div class="form-group">
                                                <label class="col-sm-4">Starting Date</label>
                                                <div class="col-sm-8">
                                                    <label> : 04-07-2018 - 08:00pm</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4">Ending Date</label>
                                                <div class="col-sm-8">
                                                    <label> : 10-07-2018 - 08:00pm</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4">No. Of Days</label>
                                                <div class="col-sm-4">
                                                    <label> :  06</label>
                                                </div>
                                            </div><!-- end form-group-->
                                            <h4 class="form-section">Number of Users</h4>
                                            <div class="form-group">
                                                <label class="col-sm-8">1000</label>
                                            </div><!-- end form-group-->
                                            <h4 class="form-section">Target Region</h4>
                                            <div class="form-group">
                                                <label class="col-sm-8">Dammam, Riyadh</label>
                                            </div>
                                            <h4 class="form-section">Paid</h4>
                                            <div class="form-group">
                                                <label class="col-sm-8">16,500 SAR</label>
                                            </div>
                                            <div class="form-group">
                                                <a class=" btn red " data-toggle="modal" href="#long">Terminate Advertisement</a>
                                            </div>
                                            <div id="long" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Terminate Reason</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Reason
                                                            <input type="text" class="form-control" placeholder="Specify reason for terminating" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn dark " data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn red">Terminate</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end id 1-->
                                    <div class="tab-pane fade" id="2">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Start Date</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group date form_datetime bs-datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p">
                                                        <input class="form-control" size="16" type="text" value="" readonly>
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-reset" type="button">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">
                                                    How Many Days <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_daywise"><i class="fa fa-info"></i></span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control select2" id="AdvertDays">
                                                        <option></option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">
                                                    How Many Users <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_user"><i class="fa fa-info"></i></span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control select2" id="AdvertUsers">
                                                        <option></option>
                                                        <option value="1">10</option>
                                                        <option value="2">20</option>
                                                        <option value="3">30</option>
                                                        <option value="4">40</option>
                                                        <option value="5">50</option>
                                                        <option value="6">60</option>
                                                        <option value="7">70</option>
                                                        <option value="8">80</option>
                                                        <option value="9">90</option>
                                                        <option value="10">100</option>
                                                        <option value="11">110</option>
                                                        <option value="12">120</option>
                                                        <option value="13">130</option>
                                                        <option value="14">140</option>
                                                    </select>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Country
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled="" placeholder="Saudi Arabia" value="Saudi Arabia" />
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">
                                                    Select Region <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_region"><i class="fa fa-info"></i></span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <select name="country" id="region" class="form-control select2">
                                                        <option value=""></option>
                                                        <option value="SA">Central</option>
                                                        <option value="SA">Makkah</option>
                                                        <option value="SA">East</option>
                                                        <option value="SA">West</option>
                                                        <option value="SA">Dammam</option>
                                                    </select>
                                                    <a href="javascript:;">Add Region</a>
                                                </div>
                                            </div><!-- end form-group-->
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-8">
                                                    <div class="mt-checkbox-inline">
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox" name="optionscheckbox" id="optionscheckbox1" value="option1" checked=""> I agree to the <a href="javascript:;">Terms</a> and <a href="javascript:;">Conditions.</a>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!-- end form-group -->
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-8">
                                                    <a class="red payment-button" href="javascript:;">Pay 1556</a>
                                                </div>
                                            </div><!-- end form-group -->
                                        </div><!-- end form-horizontal -->
                                    </div><!-- end id 2 -->
                                </div><!-- end tab-content -->

                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- request success-->
<div class="modal fade" id="pricing_daywise" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Duration</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Each Day</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>One Month</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>Six Months</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>One Year</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_daywise-->

<div class="modal fade" id="pricing_user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Users
                                <select>
                                    <option>Select</option>
                                    <option>Hundreds</option>
                                    <option>Thousands</option>
                                </select>
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>10-20</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>20-30</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>30-40</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>40-50</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_user-->

<div class="modal fade" id="pricing_region" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Saudi Arabia</h4>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Region Name
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>East</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>Central</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>West</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>Makkah</td>
                            <td>SAR 5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_region-->


@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-typeahead.js" type="text/javascript"></script>

    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#region").select2({
            placeholder: "Select Region",
        });

        $(".nationality_list").select2({
            placeholder: "Select Nationality",
        });

        $("#AdvertDays").select2({
            placeholder: "Select Number of Days",
        });
        $("#AdvertUsers").select2({
            placeholder: "Select Number of Users",
        });
        $("#country_list, #Select_country").select2({
            placeholder: "Select Country"
        });

    </script>
}
