﻿
@{
    ViewBag.Title = "AllBanners";
}
@section Styles{
    <link href="~/assets1/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Banner Advertisements
                    <small>All</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Advertisements</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">All</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Active Advertisements</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-card mt-element-overlay">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <form class="form" role="form">
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">Vendor Name</label>
                                                <select id="vName" class="form-control select2-multiple" multiple>
                                                    <option value="1">Glam LLC</option>
                                                    <option value="2">Chocolate LLC</option>
                                                    <option value="3">Pizzeria LLC</option>
                                                    <option value="4">Glam2 LLC</option>
                                                    <option value="5">Glam3LLC</option>
                                                    <option value="6">Glam4 LLC</option>
                                                    <option value="7">Glam5 LLC</option>
                                                    <option value="8">Glam6 LLC</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">Category</label>
                                                <select id="vCategory" class="form-control select2-multiple" multiple>
                                                    <option value="1">Grocerry</option>
                                                    <option value="2">Electronic Store</option>
                                                    <option value="3">Telecom</option>
                                                    <option value="4">Computer Solutions</option>

                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">Vendor Type</label>
                                                <select id="vType" class="form-control select2-multiple" multiple>
                                                    <option value="1">Entity</option>
                                                    <option value="2">Firm</option>
                                                    <option value="3">Government Body</option>
                                                    <option value="4">NGO</option>

                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">City</label>
                                                <select id="vCity" class="form-control select2-multiple" multiple>
                                                    <option value="1">Riyadh</option>
                                                    <option value="2">Dammam</option>
                                                    <option value="3">Jeddah</option>
                                                    <option value="4">Khobar</option>
                                                    <option value="5">Abha</option>

                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">Region</label>
                                                <select id="vRegion" class="form-control select2-multiple" multiple>
                                                    <option value="1">North</option>
                                                    <option value="2">South</option>
                                                    <option value="3">East</option>
                                                    <option value="4">North East</option>
                                                    <option value="5">Cetral</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label class="sr-only">Status</label>
                                                <select id="vStatus" class="form-control select2-multiple" multiple>
                                                    <option value="1">Active</option>
                                                    <option value="2">Future</option>
                                                    <option value="3">Expired</option>

                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <button type="submit" class="btn btn-primary ">Search</button>
                                            </div>
                                                
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="http://via.placeholder.com/250x250" />
                                            <div class="mt-overlay">
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name offer-text"><a href="~/Admin/AdvertisementManagement/AdvertisementDetails">20% off on electronics</a></h3>
                                            <p class="mt-card-desc font-grey-mint">Expiry: 12th June 2018</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
@section scripts{
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#vName").select2({
                placeholder: "Vendors",
                allowClear: true
            });
            $("#vCategory").select2({
                placeholder: "Category",
                allowClear: true
            });
            $("#vType").select2({
                placeholder: "Vendor Type",
                allowClear: true
            });
            $("#vCity").select2({
                placeholder: "City",
                allowClear: true
            });
            $("#vRegion").select2({
                placeholder: "Region",
                allowClear: true
            });
            $("#vStatus").select2({
                placeholder: "Status",
                allowClear: true
            });
        });
    </script>
}

