﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Advertisement | Advertisement Management | Checkclick Super Admin Panel";
}
@section Styles{
    <link href="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Advertisement Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/AdvertisementManagement">Advertisement Management</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create Advertisement</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Create Advertisement</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Select Store
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="Stores">
                                                <option></option>
                                                <option value="1">Glam LLC</option>
                                                <option value="2">Glam LLC</option>
                                                <option value="3">Glam LLC</option>
                                                <option value="4">Glam LLC</option>
                                                <option value="5">Glam LLC</option>                                                
                                            </select>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Offer Type
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked=""> Banner
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2"> Offer
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Upload Image
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="fileinput fileinput-new input-thumb-priview" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail">
                                                    <img src="http://www.placehold.it/350x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new"> Select image </span>
                                                        <span class="fileinput-exists"> Change </span>
                                                        <input type="file" name="...">
                                                    </span>
                                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end form-group-->
                                    <!-- if its is a offer -->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Product Name</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control" />
                                            </div>
                                            <p class="help-block"> E.g: iPhone X, Dell XPS 15</p>
                                        </div>
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Price</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="150 SAR" value="150 SAR" disabled="">
                                        </div>
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Discount</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="50%" value="50%" disabled="">
                                        </div>
                                    </div><!-- end form-group -->
                                    <!-- end if it is a offer-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Start Date</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date form_datetime bs-datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p">
                                                <input class="form-control" size="16" type="text" value="" readonly>
                                                <span class="input-group-addon">
                                                    <button class="btn default date-reset" type="button">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </span>
                                                <span class="input-group-addon">
                                                    <button class="btn default date-set" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            How Many Days <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_daywise"><i class="fa fa-info"></i></span>

                                        </label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2" id="AdvertDays">
                                                <option></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            How Many Users <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_user"><i class="fa fa-info"></i></span>

                                        </label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2" id="AdvertUsers">
                                                <option></option>
                                                <option value="1">10</option>
                                                <option value="2">20</option>
                                                <option value="3">30</option>
                                                <option value="4">40</option>
                                                <option value="5">50</option>
                                                <option value="6">60</option>
                                                <option value="7">70</option>
                                                <option value="8">80</option>
                                                <option value="9">90</option>
                                                <option value="10">100</option>
                                                <option value="11">110</option>
                                                <option value="12">120</option>
                                                <option value="13">130</option>
                                                <option value="14">140</option>
                                            </select>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Country
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" disabled="" placeholder="Saudi Arabia" value="Saudi Arabia" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
                                            Select Region <span class="badge badge-info tooltips mouse-pointer" data-toggle="modal" data-target="#pricing_region"><i class="fa fa-info"></i></span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select name="country" id="region" class="form-control select2">
                                                <option value=""></option>
                                                <option value="SA">Central</option>
                                                <option value="SA">Makkah</option>
                                                <option value="SA">East</option>
                                                <option value="SA">West</option>
                                                <option value="SA">Dammam</option>
                                            </select>
                                            <a href="javascript:;">Add Region</a>
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <div class="mt-checkbox-inline">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" name="optionscheckbox" id="optionscheckbox1" value="option1" checked=""> I agree to the <a href="javascript:;">Terms</a> and <a href="javascript:;">Conditions.</a>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <a class="red payment-button" href="javascript:;">Pay 1556</a>
                                        </div>
                                    </div><!-- end form-group -->
                                </div><!-- end form-horizontal -->
                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- request success-->
<div class="modal fade" id="pricing_daywise" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Duration</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Each Day</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>One Month</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>Six Months</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>One Year</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_daywise-->

<div class="modal fade" id="pricing_user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Users
                                <select>
                                    <option>Select</option>
                                    <option>Hundreds</option>
                                    <option>Thousands</option>
                                </select>
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>10-20</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>20-30</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>30-40</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>40-50</td>
                            <td>5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_user-->

<div class="modal fade" id="pricing_region" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Saudi Arabia</h4>
            </div>
            <div class="modal-body ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover thead-dark">
                        <tr>
                            <th>
                                Region Name
                            </th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>East</td>
                            <td>SAR 45</td>
                        </tr>
                        <tr>
                            <td>Central</td>
                            <td>SAR 454</td>
                        </tr>
                        <tr>
                            <td>West</td>
                            <td>SAR 2724</td>
                        </tr>
                        <tr>
                            <td>Makkah</td>
                            <td>SAR 5448</td>
                        </tr>
                    </table>
                </div>
            </div><!-- end modal body -->
        </div><!-- end modal content-->
    </div><!-- end modal-dialog -->
</div><!-- end pricing_region-->


@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/components-typeahead.js" type="text/javascript"></script>

    <script type="text/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $("#region").select2({
            placeholder: "Select Region",
        });

        $(".nationality_list").select2({
            placeholder: "Select Nationality",
        });

        $("#AdvertDays").select2({
            placeholder: "Select Number of Days",
        });
        $("#AdvertUsers").select2({
            placeholder: "Select Number of Users",
        });
        $("#Stores").select2({
            placeholder: "Select Store",
        });
        
        $("#country_list, #Select_country").select2({
            placeholder: "Select Country"
        });

    </script>
}
