﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Advertisement Management | Checkclick Super Admin Panel";
}
@section Styles{
    <link href="~/assets1/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets1/assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Advertisement Management
                    <small>Create, View, Edit etc</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Advertisement Management</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- end owl-theme -->

                                <div class="clearfix"></div>
                                <div class="text-right">
                                    <a href="~/Admin/AdvertisementManagement/Create" class="small-button">Create Advertisement</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end portlet light-->
            </div><!-- end col-md-12-->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Banner Advertisements</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#1" data-toggle="tab">Active <span>(13)</span></a></li>
                            <li><a href="#2" data-toggle="tab">Future <span>(12)</span></a></li>
                            <li><a href="#3" data-toggle="tab">Expired <span>(12)</span></a></li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="1">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->

                            <div class="tab-pane fade" id="2">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllFutureBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->
                            <div class="tab-pane fade" id="3">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllExpiredBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->
                        </div><!-- end tab-content-->
                    </div><!-- end portlet body -->
                </div><!-- end portlet light-->
            </div><!-- end col-sm-12 -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-feed "></i>
                            <span class="caption-subject primary-txt">Offer Advertisements</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#4" data-toggle="tab">Active <span>(13)</span></a></li>
                            <li><a href="#5" data-toggle="tab">Future <span>(12)</span></a></li>
                            <li><a href="#6" data-toggle="tab">Expired <span>(12)</span></a></li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="4">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->
                            <div class="tab-pane fade" id="5">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->
                            <div class="tab-pane fade" id="6">
                                <div class="owl-carousel owl-theme owl-carousel-slider text-left">
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                    <div class="item">
                                        <a class="no-underline" href="~/Admin/AdvertisementManagement/AdvertisementDetails">
                                            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="" />
                                            <h4 class="offer-text">20% off on electronics</h4>
                                            <p class="help-block">Expiry: 12th June 2018</p>
                                        </a>
                                    </div><!-- end item -->
                                </div><!-- end carousel owl-theme-->
                                <div id="customNav" class="owl-nav text-right">
                                    <a href="~/Admin/AdvertisementManagement/AllBanners" class="btn red">View All</a>
                                </div>
                            </div><!-- end tab-pane-->
                        </div><!-- end tab-content-->
                    </div><!-- end portlet body -->
                </div><!-- end portlet light-->
            </div><!-- end col-sm-12 -->
        </div><!-- end row -->
    </div>
    <!-- END CONTENT -->
</div>

@section Scripts{
    <script src="~/assets1/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/pages/scripts/search.min.js" type="text/javascript"></script>
    <script src="~/assets1/assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript">
        //$('#owl-carousel4').owlCarousel({
        //    loop: true,
        //    margin: 10,
        //    nav: true,
        //    responsive: {
        //        0: {
        //            items: 1
        //        },
        //        600: {
        //            items: 2
        //        },
        //        1000: {
        //            items: 3
        //        }
        //    }
        //});
        $('.owl-carousel-slider').owlCarousel({
            loop: true,
            margin: 10,
            //nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    </script>
}
