﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ar/Views/Shared/_LayoutMaster.cshtml";
}

@section Styles{

}

<section class="stores-banner">
    <h1>FLOWERS & GIFT</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home <i class="fas fa-chevron-right"></i></a>
                    <a class="breadcrumb-item" href="products.html">Products <i class="fas fa-chevron-right"></i></a>
                    <span class="breadcrumb-item active">Flowers & Gifts</span>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="stores-sec">
    <div class="container">

        <nav class="navbar">
            <div class="navbar-left">
                <ul class="nav navbar-nav filters">
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="filter" data-toggle="dropdown"><i class="fas fa-filter"></i> <strong>FILTERS</strong></a>

                        <ul class="dropdown-menu mega-dropdown-menu row">
                            <div class="col-sm-12">
                                <form action="" method="">
                                    <li class="col-sm-2 col-xs-6">
                                        <ul>
                                            <li class="dropdown-header">STATUS</li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox1" class="styled" type="checkbox">
                                                    <label for="checkbox1"> Open</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox2" class="styled" type="checkbox" checked>
                                                    <label for="checkbox2">Close</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox3" class="styled" type="checkbox">
                                                    <label for="checkbox3">Busy</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-2 col-xs-6">
                                        <ul>
                                            <li class="dropdown-header">PAYMENT METHOD</li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox4" class="styled" type="checkbox" checked>
                                                    <label for="checkbox4">Cash On Delivery</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox5" class="styled" type="checkbox">
                                                    <label for="checkbox5">Card</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox6" class="styled" type="checkbox">
                                                    <label for="checkbox6">Both</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-2 col-xs-6">
                                        <ul>
                                            <li class="dropdown-header">RATING</li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox7" class="styled" type="checkbox">
                                                    <label for="checkbox7">One Star</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox8" class="styled" type="checkbox" checked>
                                                    <label for="checkbox8">Two Star</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox9" class="styled" type="checkbox">
                                                    <label for="checkbox9">Three Star</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox10" class="styled" type="checkbox">
                                                    <label for="checkbox10">Four Star</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox11" class="styled" type="checkbox" checked>
                                                    <label for="checkbox11">Five Star</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-2 col-xs-6">
                                        <ul>
                                            <li class="dropdown-header">VENDOR TYPE</li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox12" class="styled" type="checkbox">
                                                    <label for="checkbox12">Company</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox13" class="styled" type="checkbox">
                                                    <label for="checkbox13">Individual</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox14" class="styled" type="checkbox" checked>
                                                    <label for="checkbox14">Both</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-2 col-xs-6">
                                        <ul>
                                            <li class="dropdown-header">DISTANCE</li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox15" class="styled" type="checkbox">
                                                    <label for="checkbox15">1 KM</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox16" class="styled" type="checkbox">
                                                    <label for="checkbox16">10 KM</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="checkbox17" class="styled" type="checkbox" checked>
                                                    <label for="checkbox17">20 and above</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </form>
                            </div>
                            <div class="col-sm-12 reset-filter text-right">
                                <a href="#"><i class="fas fa-sync-alt"></i> Reset Filters</a>
                            </div>
                        </ul>

                    </li>
                    <li><a href="#"> <strong>145 STORES</strong></a></li>
                    <li><a href="#" class="map-box"><i class="far fa-map"></i> <strong>MAP</strong></a></li>
                </ul>
            </div>
            <div class="navbar-right filters-right text-right">
                <span>
                    <strong>SORT BY:</strong> &ensp;
                    <div class="btn-group">
                        <button type="button" class="form-control btn filter-dropdown btn-default dropdown-toggle" data-toggle="dropdown">
                            Min Delivery Time <span class="caret"></span>
                        </button>
                        <ul class="delivery-filter dropdown-menu" role="menu">
                            <li><a href="#">Min Delivery Time</a></li>
                            <li><a href="#">Min Order Amount</a></li>
                            <li><a href="#">Min Delivery Charge</a></li>
                            <li><a href="#">Pickup</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Popular</a></li>
                        </ul>
                    </div>
                </span>
            </div>
        </nav>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Rose Mary’s organics</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Rose Mary’s organics</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Garland Swift</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Arena Flowers</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Herbalife Garden</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Garland Swift</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Arena Flowers</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 fwidth">
                <div class="store">
                    <img src="~/web-assets/ar/images/store-img.png" width="100%">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">Herbalife Garden</a></h4>
                            <h6><span><i class="far fa-star"></i> 4.3</span> (124 Reviews)</h6>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-3 text-right">
                            <small class="green"><i class="fas fa-circle"></i> Open</small><br>
                            <small class="yellow"><i class="fas fa-users"></i></small><br>
                            <small>1.2 ml</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-7">
                            <h6>Minimum Order</h6>
                            <h6>Delivery Time</h6>
                            <h6>Payment Options</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-5 text-right">
                            <h6>AED 00</h6>
                            <h6>1-2 Days</h6>
                            <h6><i class="far fa-credit-card"></i>&ensp; <i class="far fa-money-bill-alt"></i> </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="col-md-9">
                <section class="customer-logos slider">
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo1.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo2.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo3.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo4.png"></div>
                    <div class="slide"><img src="~/web-assets/ar/images/logo5.png"></div>
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/web-assets/ar/js/slick.js"></script>

    <script type="text/javascript">
        $('.delivery-filter a').on('click', function () {
            $('.filter-dropdown.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
        });


        $(document).ready(function () {
            $('.customer-logos').slick({
                rtl: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 1367,
                    settings: {
                        slidesToShow: 5
                    }
                }, {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });
    </script>
}

