﻿
@{
    ViewBag.Title = "CreateSMTP";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Create SMTP
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/admin/Default">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="~/Admin/SMTPDetails">SMTP Details</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Create SMTP</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-ticket "></i>
                            <span class="caption-subject primary-txt">Create SMTP Details</span>
                        </div>
                    </div>
                    <div class="portlet-body form select-width-100">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">SMTP Server</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                  
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Port No</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Mail From</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Target Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Test Email To</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div><!-- end form-group-->                                 

                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <a class="small-button button-submit" href="javascript:;">Submit</a>
                                        </div>
                                    </div><!-- end form-group -->
                                </div><!-- end form-horizontal -->
                            </div><!-- end col-sm-6 -->
                        </div><!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>




@section Scripts{
    <script src="~/assets1/assets/global/plugins/moment.min.js" type="text/javascript"></script>

}




