﻿
@{
    ViewBag.Title = "RejectedRequest";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Store Requests
                    <small>View Rejected Store Requests</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="~/Admin/StoreRequests/RejectedRequest">Store Requests</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Rejected Store Requests</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-sm-6">
                <!-- BEGIN BASIC PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase">Store Location</span>
                        </div>
                        @*<div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>*@
                    </div>
                    <div class="portlet-body">
                        <div id="gmap_basic" class="gmaps"> </div>
                    </div>
                </div>
                <!-- END BASIC PORTLET-->
            </div>

            <div class="col-sm-6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Rejected List</span>
                        </div>
                        @*<div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>*@
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th> S.No </th>
                                        <th> City Name </th>
                                        <th> Request Count </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Riyadh </td>
                                        <td> 10 </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Jeddah </td>
                                        <td> 20 </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> Dammam </td>
                                        <td> 30 </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> Madina </td>
                                        <td> 40 </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Makkah </td>
                                        <td> 50 </td>
                                    </tr>
                                    <tr>
                                        <td> 6 </td>
                                        <td> Qaseem </td>
                                        <td> 60 </td>
                                    </tr>
                                    <tr>
                                        <td> 7 </td>
                                        <td> Rabwah </td>
                                        <td> 70 </td>
                                    </tr>                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="http://maps.google.com/maps/api/js?key=AIzaSyA0-Sj6IFygd93B3rZwoC9VAGQopixGXig" type="text/javascript"></script>
<script src="~/assets1/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>
<script src="~/assets1/assets/pages/scripts/maps-google.js" type="text/javascript"></script>
@*<script type="text/javascript">
        var markers = [];
    function initialize() {

            var mapOptions = {
                zoom:5,
                center: new google.maps.LatLng(24.7135517, 46.6752957),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("gmap_basic"), mapOptions);


            var locations = [
               ['Riyadh', 24.7135517, 46.6752957, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Jeddah', 21.485811, 39.1925048, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Dammam', 26.3926665, 49.9777136, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Madina', 24.5246542, 39.5691841, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Makkah', 21.3890824, 39.8579118, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Qassim', 25.8274886, 42.8637875, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png'],
               ['Al Kharj', 24.1455367, 47.3119448, 'http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png']
            ];


            var marker, i;
            var infowindow = new google.maps.InfoWindow();


            google.maps.event.addListener(map, 'click', function() {
                infowindow.close();
            });


            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    icon: locations[i][3]
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));

                markers.push(marker);
            }

        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function myClick(id){
            google.maps.event.trigger(markers[id], 'click');
        }
</script>*@

<script type="text/javascript">
        var markers = [
        {
            "title": 'Riyadh',
            "lat": '24.7135517',
            "lng": '46.6752957',
            "description": '46.6752957',
            "Url": 'Store'
        },
        {
            "title": 'Jeddah',
            "lat": '21.485811',
            "lng": '39.1925048',
            "description": 'Jeddah',
            "url": 'Store'
        },
        {
            "title": 'Dammam',
            "lat": '26.3926665',
            "lng": ' 49.9777136',
            "description": 'Dammam',
            "url": 'Store'
        },
        {
            "title": 'Madina',
            "lat": '24.5246542',
            "lng": '39.5691841',
            "description": 'Madina',
            "url": 'Store'
        },
        {
            "title": 'Makkah',
            "lat": '21.3890824',
            "lng": '39.8579118',
            "description": 'Makkah',
            "url": 'Store'
        },
        {
            "title": 'Qassim',
            "lat": '25.8274886',
            "lng": '42.8637875',
            "description": 'Qassim',
            "url": 'Store'
        },
        {
            "title": 'Al Kharj',
            "lat": '24.1455367',
            "lng": '47.3119448',
            "description": 'Al Kharj',
            "url": 'Store'
        }
        ];
        window.onload = function () {
            LoadMap();
        }
        function LoadMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("gmap_basic"), mapOptions);

            for (var i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title,
                    url: data.url
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        window.open(marker.url + "?lat=" + marker.position.k + "&lon=" + marker.position.B + "&title=" + encodeURIComponent(marker.title));
                        
                    });
                })(marker, data);
                latlngbounds.extend(marker.position);
            }
            var bounds = new google.maps.LatLngBounds();
            map.setCenter(latlngbounds.getCenter());
            map.fitBounds(latlngbounds);
        }
</script>
}


