﻿
@{
    ViewBag.Title = "Store";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Store Information
                    <small>Created</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="javascript:;">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Store Requests</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">New</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Store Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <h3 class="form-section">Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Vendor Type:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> Entity </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Category:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> Product(Grocery) </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Country:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> Saudi Arabia </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Entity's Name:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> Glam LLC </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Commercial Registration Number:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> 1024586974582 </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Authorized Person:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> Ahmed Omar </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Authorized ID:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> 104898265 </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Entity's Contact No:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> 0098452588</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Entity's Email:</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> connect@entity.com</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Country:</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control">
                                                            <option value="0">Select Country</option>
                                                            <option value="1">Saudi Arabia</option>
                                                            <option value="2">UAE</option>
                                                            <option value="3">Qatar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">City:</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control">
                                                            <option value="0">Select City</option>
                                                            <option value="1">Riyadh</option>
                                                            <option value="2">Jeddah</option>
                                                            <option value="3">Al khobar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">District:</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control">
                                                            <option value="0">Select Country</option>
                                                            <option value="1">Al Wazarat</option>
                                                            <option value="2">Al Olaya</option>
                                                            <option value="3">Al Malaz</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Building No:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Zip Code:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="block">Attachments</h4>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <a href="javascript:;" class="thumbnail">
                                                    <img src="http://2.bp.blogspot.com/_RNrl2Gr0VwI/R1peUe7U0LI/AAAAAAAAAAg/mmtAU3zoB-0/s400/FBI+Case+Report+Innsmouth+Page+1.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <a href="javascript:;" class="thumbnail">
                                                    <img src="http://2.bp.blogspot.com/_RNrl2Gr0VwI/R1peUe7U0LI/AAAAAAAAAAg/mmtAU3zoB-0/s400/FBI+Case+Report+Innsmouth+Page+1.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <a href="javascript:;" class="thumbnail">
                                                    <img src="http://www.dieterstanzeleit.com/wp-content/gallery/documente/dynamic/4.jpg-nggid014-ngg0dyn-300x400x100-00f0w010c011r110f110r010t010.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <a href="javascript:;" class="thumbnail">
                                                    <img src="http://www.abcdental.com.au/Pic/CEREC3.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green">Approve</button>
                                                @*<button type="button" class="btn red">Reject</button>*@
                                                <a class=" btn red " data-toggle="modal" href="#long"> Reject </a>
                                                <button type="button" class="btn blue">Restore</button>


                                                <div id="long" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                <h4 class="modal-title">Reject Reason</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Reason
                                                                <input type="text" class="form-control" placeholder="Specify reason for cancel"/>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn dark " data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn red">Reject</button>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>

                </div>

                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Store Reject Details
                        </div>
                    </div>
                    <div class="portlet-body ">
                        <table class="table table-responsive ">
                            <tr>
                                <th>Transaction History</th>
                                <th>Date/Time</th>
                                <th>UsesrId</th>
                                <th>Remark</th>
                            </tr>
                            <tr>
                                <td>Received</td>
                                <td>10/05/2018 10:00 AM</td>
                                <td>ID:68465</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Rejected</td>
                                <td>10/05/2018 04:00 PM</td>
                                <td>ID: 98465</td>
                                <td>Attached document are not clear, re upload it.</td>
                            </tr>
                            <tr>
                                <td>Re Submitted</td>
                                <td>16/05/2018 11:30 AM</td>
                                <td>ID: 92126</td>
                                <td>Documents re submitted</td>
                            </tr>
                            <tr>
                                <td>Approved</td>
                                <td>17/05/2018 10:12 AM</td>
                                <td>ID: 66892</td>
                                <td>Approved to start the business</td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- END CONTENT -->
</div>